/* Adaptive */

//# smart panel
.smart-panel {
    position: fixed;
    width: 90vw;
    height: 100vh;
    transform: translateX(-100%);
    padding: 50px 25px;
    transition: transform 0.3s linear;
    will-change: transform;
    background: fade(@blue, 98%);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 4;
}

.smart-panel-close {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 10px;
    right: 15vw;
    width: 25px;
    height: 25px;
    background: url('../img/icon-cross.png') no-repeat center center;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 5;
}
@keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@-moz-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@-webkit-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.block, header, footer {
    transition: opacity 0.3s linear;
    will-change: opacity;
}

// html.panel-opened,
// body.panel-opened {
//     position: relative;
//     height: 100%;
//     overflow: hidden;
// }

body.panel-opened {

    .block, header, footer {
        opacity: 0.5;
        transition: opacity 0.3s linear;

        * {
            pointer-events: none;
        }
    }

    .smart-panel {
        transform: translateX(0);
        transition: transform 0.3s linear;
    }

    .smart-panel-close {
        pointer-events: auto;
        -webkit-animation: smooth 0.35s ease-in;
        -moz-animation: smooth 0.35s ease-in;
        -o-animation: smooth 0.35s ease-in;
        -ms-animation: smooth 0.35s ease-in;
        animation: smooth 0.35s ease-in;
        animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    }

    .header-burger {

        circle {
            fill: mix(@orange, @red);
        }
    }
}

.smart-panel-menu {

    a {
        display: block;
        padding: 5px 0 10px;
        font-family: @proximanovaregular;
        font-size: 22px;
        color: #fff;
    }

    li.current-menu-item a,
    li.current_page_item a {
        color: mix(@orange, @red);

        .gradient-text;
    }

    ul ul {
        padding-left: 12px;
        padding-bottom: 5px;

        a {
            font-family: @proximanovalight;
            font-size: 18px;
            font-weight: 300;
            padding: 8px 0;

            br {
                display: none;
            }
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

    .container {
        width: 970px;
    }

    // #header
    .header-logo {

        img {
            width: 112px;
        }
    }

    .header-menu {

        li {
            margin: 0 15px;
        }
    }

    .header-contact {
        margin-left: 30px;
    }

    // #advantages block
    .about-advantage-single {
        .calc-width("100% / 3");

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            margin-bottom: 50px;
        }
    }

    // #contacts block
    .contacts-info-inner {
        right: 0;
    }

    // #intro block
    .intro-description-left {
        left: 0;
        bottom: 70px;
    }

    .intro-callback-form {
        max-width: 500px;
    }

    // #services block
    .service-single {
        padding: 0 5px;
    }

    .service-single-text {
        padding: 5px;
    }

    // #portfolio slider
    .portfolio-slide-gallery {
        width: 356px;
    }

    .slide-gallery-single {

        img {
            max-width: 160px;
        }
    }

    .portfolio-slide-info {
        width: 500px;
    }

    // #intro survey block
    .intro-survey {

        .intro-description-left {

            &:after {
                right: -120px;
            }
        }
    }

    // #survey calc block
    .survey-calc-info {
        width: 550px;
        padding-left: 70px;
        padding-right: 50px;
    }

    .survey-calc-container {

        .container {

            &:before {
                left: 1px;
            }
        }
    }

    // #clients advantages block
    .clients-advantage-single {
        width: 280px;

        br {
            display: none;
        }
    }

    .clients-advantages-bottom,
    .clients-advantages-top {

        .clients-advantage-single {

            &:nth-child(2) {
                width: 400px;
            }
        }
    }

    // #survey types list
    .survey-single {
        padding: 0 5px;
    }

    .survey-single-info {
        padding-right: 45px;
    }

    .survey-single-text {
        background-size: 100% 100%;
    }

    // #intro land scheme block
    .intro-land-scheme,
    .intro-tech-plan {
        padding-top: 190px;

        .intro-description-left {

            &:after {
                right: -85px;
            }
        }
    }

    .intro-land-scheme {

        .intro-callback-form {
            max-width: 580px;
        }
    }

    // #situations block
    .situations {

        .block-title.block-title {
            font-size: 27px;
            line-height: normal;

            span {
                display: inline;
                font-family: @proximanovasemibold;
                font-size: 27px;
                line-height: normal;
            }
        }
    }

    // #director speech
    .director-speech-block {
        background-size: 100% auto;
    }

    .director-speech-text {
        padding: 40px 85px 0 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .container,
    .container-small {
        width: 750px;
    }

    p, a {

        br {
            display: none;
        }
    }

    .header-logo {

        img {
            width: 100%;
        }
    }

    .header-menu {
        display: none;
    }

    .header-contact {
        margin-left: 0;
    }

    .header-burger {
        display: inline-block;
        margin-right: -4px;
        margin-left: 70px;
        vertical-align: middle;
    }

    // #intro block
    .intro {

        .intro-description-left {

            &:after {
                content: none;
            }
        }
    }

    // #services slider
    // .index-services-slider {
    //     display: none;
    // }

    .index-services-slider {
        position: static;
        width: 750px;
        margin: 50px auto 0;
        transform: none;

        .slick-active {
            transform: translateY(45px);
            transition-delay: 0.01s;
            opacity: 0.5;

            img {
                width: 55px;
                height: 55px;
            }

            .service-slide-title {
                opacity: 0.5;
                font-size: 17px;
                line-height: 17px;
            }
        }

    }

    .change-services-slide {
        display: none !important;

        &.prev-slide {
            left: 0;
        }

        &.next-slide {
            right: 0;
        }
    }

    // #testimonials block
    .testimonial-single-body {
        background-size: 100% auto;
    }

    .testimonial-single:nth-of-type(odd) {

        .testimonial-single-text {
            padding: 0 50px 0 25px;
        }
    }
    .testimonial-single:nth-of-type(even) {

        .testimonial-single-text {
            padding: 0 25px 0 50px;
        }
    }

    // #contacts
    .contacts-info-inner {

        &:before {
            content: none;
        }
    }

    .contacts-email,
    .contacts-location,
    .contacts-phone {
        margin-left: 100px;
    }

    .contacts-social,
    .contacts-button {
        left: 100px;
    }

    // #intro block
    .intro {
        min-height: 900px;
        height: auto;
    }

    .intro-description-left,
    .intro-callback-form {
        position: static;
        display: block;
        margin: 25px 0 0;
    }

    .intro-callback-form {
        width: 100%;
        max-width: none;
    }

    // #services list
    .exterior-survey-types-list {
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -o-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;

        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
    }

    .service-single {
        width: 50%;
    }

    // #portfolio block
    .portfolio-slide-info {
        margin-top: 20px;
        padding-left: 20px;
    }

    // #survey calc block
    .survey-calc-info {
        width: 350px;
        padding-left: 0;
    }

    // #clients advantages block
    .clients-advantage-single {
        width: 170px;

        &:first-child {
            padding: 0 90px 0 0;
        }
        &:last-child {
            padding: 0 0 0 90px;
        }
    }

    // #survey types list
    .survey-single {
        width: 100%;
        padding: 0;
    }

    // #intro land scheme block
    .intro-land-scheme {

        .intro-callback-form {
            max-width: none;
        }
    }

    // #typography types block
    .typography-types-list {

        .service-single-order {
            font-size: 18px;
        }

        .service-single-title {
            margin-bottom: 0;
        }
    }

    // #recomendations block
    .recommendation-single {
        width: 50%;

        p {
            padding-right: 20px;
        }
    }

    // #director speech block
    .director-speech-block {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;

        background: none;

        &:after {
            position: static;
        }
    }

    .director-speech-photo {
        width: 276px;
    }

    .director-speech-text {
        padding-right: 0;
        text-align: center;
    }

    .intro-borders-takeaway {

        .intro-description-left {
            margin-top: 40px;
            padding-left: 0;
        }
    }

    // #footer
    footer {

        .container {
            height: 80px;
        }
    }

    .footer-logo {

        img {
            display: none;
        }

        span {
            display: block;
            margin: 0;
        }
    }

    .footer-contact {
        padding-left: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    .container,
    .container-small {
        width: 100%;
        padding: 0 10px;
    }

    img {
        max-width: 100%;
    }

    header {
        padding: 15px 0;

        .container {
            .space-between;

            -ms-align-items: center;
            align-items: center;

            &:after {
                content: none;
            }
        }
    }

    .header-logo {
        display: none;
        // display: block;
        // position: static;
        // width: 80px;
    }

    .header-contact,
    .header-burger {
        margin-right: -4px;
    }

    .header-contact {
        padding-left: 0;
        text-align: left;
        background: none;
    }

    .header-contact-phone {
        //font-size: 25px;
        font-size: 23px;
    }

    .header-burger {
        // position: absolute;
        // top: 15px;
        // right: 10px;
        width: 30px;
        height: 30px;
        transform: rotate(90deg);

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .block {
        padding: 50px 0;
    }

    // #intro block
    .intro.intro {
        height: auto;
        min-height: 0;
        padding-top: 120px;
        background-size: cover;

        .intro-title {
            font-size: 34px;

            strong {
                font-size: 42px;
                line-height: 1;
            }
        }

        .intro-subtitle {
            margin-top: 20px;
            font-size: 24px;

            span {
                margin-top: 5px;
                font-size: 22px;
            }
        }

        .intro-description-left {
            font-size: 22px;
            line-height: normal;

            span {
                font-size: 22px;
                line-height: normal;
            }
        }

        .intro-callback-form {
            padding: 20px 5px;

            input[type=tel] {
                padding-right: 0;
            }

            input[type=submit] {
                margin-left: 0;
            }
        }

        .intro-callback-form-title {
            font-size: 24px;
            line-height: 1;

            strong {
                font-size: 26px;
            }
        }

        .intro-callback-form-subtitle {
            font-size: 20px;
        }

        .intro-callback-form-desc {
            font-size: 16px;
        }
    }

    .home .intro.intro {
        padding-bottom: 0;
    }

    .intro-executive-survey,
    .intro-topography {

        .intro-title.intro-title {
            font-size: 30px;
        }
    }

    .intro-construction-support {

        .intro-title.intro-title {
            font-size: 32px;
        }
    }

    .callback-button {
        width: 100%;
        font-size: 16px;
    }

    // #services slider
    // .index-services-slider {
    //     display: none;
    // }
    .index-services-slider {
        width: 300px;
        overflow: hidden;

        .slick-list {
            padding: 0 !important;
        }

        .slick-slide {
            visibility: hidden;
        }

        .slick-center+.slick-active,
        .slick-slide:not(.slick-active)+.slick-cloned.slick-active+.slick-active,
        .slick-slide:not(.slick-active)+.slick-slide.slick-active+.slick-active,
        .slick-active {

            visibility: visible;

            .service-slide-title {
                font-size: 14px;
                line-height: normal;
            }
        }

        .slick-center.slick-center.slick-center.slick-center.slick-center {

            .service-slide-title {
                font-size: 16px;
                line-height: normal;
            }
        }
    }

    .block-title.block-title {
        font-size: 24px;

        br {
            display: none;
        }

        strong {
            font-size: 26px;
        }
    }

    // #intro testimonials block
    .intro-testimonials-navigation {

        li {
            display: block;
            margin: 0 0 10px;
        }
    }

    .testimonials-sliders-list {
        margin-top: 30px;
    }

    .testimonial-single.testimonial-single {
        text-align: center;

        .testimonial-single-info,
        .testimonial-single-city {
            padding: 0;
            text-align: center;
        }

        .testimonial-single-info {
            font-size: 22px;
        }

        .testimonial-single-text {
            margin: 10px 0 0;
            padding: 0;
            text-align: center;
        }
    }

    .testimonial-single:not(:first-of-type) {
        margin-top: 35px;
    }

    .testimonial-single-body {
        background: none;
        max-height: none;
    }

    .testimonial-single-body,
    .testimonial-single-info,
    .testimonial-single-text {
        display: block;
    }

    .testimonial-single-author {
        width: 150px;
        height: 150px;
        margin: 10px auto 0;
    }

    .testimonial-single-text {
        width: 100%;
    }

    // #advantages block
    .about-advantage-single {
        .calc-width("100% / 2");
    }

    // #contacts block
    .block.contacts {
        padding: 0;
        display: block;
    }

    .contacts-info,
    .contacts-map {
        width: 100%;
    }

    .contacts-info-inner {
        position: static;
        width: 100%;
        padding: 25px 10px;
        transform: none;
    }

    .contacts-email,
    .contacts-location,
    .contacts-phone {
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: normal;
    }

    .contacts-social {
        position: static;
        margin: 10px 0 30px;
    }

    .contacts-button {
        position: relative;
        left: 0;
        top: 0;
    }

    .contacts-map {
        min-height: 300px;
    }

    // #services list
    .exterior-survey-types-list {
        margin-top: 40px;
    }

    .service-single {
        width: 100%;
        padding: 0;
    }

    .service-single-title {
        font-size: 22px;
    }

    // #portfolio block
    .portfolio-slider {

        .slider-arrow {
            bottom: -30px;
        }
    }

    .portfolio-slide-gallery,
    .portfolio-slide-info {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .portfolio-slide-gallery {
        padding-left: 20px;

        .slick-dots {
            left: 0;
        }
    }

    .portfolio-slide-info {
        padding-left: 0;
    }

    .slide-gallery-single {

        img {
            max-width: 135px;
        }

        img:nth-child(2) {
            margin-left: 5px;
        }
    }

    // #advantages block
    .advantages {
        padding: 0;
        background: #fff;

        .container {
            display: block;
            padding: 0;
        }
    }

    .advantage-single.advantage-single {
        width: 100%;
        min-height: 0;
        padding: 0;

        p {
            font-size: 22px;
            line-height: normal;
        }

        &:after {
            content: none;
        }

        .situation-single {
            padding: 25px 10px;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;

            strong {
                position: static;
                transform: none;
                font-size: 26px;
            }
        }
    }

    // #documents list
    .documents-list:not(.without-slider) {
        height: 490px;
    }

    .document-single {
        width: 100%;
        height: 400px;

        &:after {
            height: 400px;
            background-size: 100% 100%;
        }
    }

    .document-single-title {
        width: 350px;
        transform: rotate(-90deg) translate(-50%, -255%);
    }

    // #survey calc block
    .survey-calc-container {

        .container {
            border-radius: 0 100px 100px 0;

            &:before {
                content: none;
            }
        }
    }

    .survey-calc-form,
    .survey-calc-info {
        display: block;
        width: 100%;
        margin-right: 0;
        padding: 0 15px;
    }

    .survey-calc-info-text {
        margin-bottom: 20px;
    }

    .survey-calc-form {
        margin-top: 40px;
    }

    // clients advantages block
    .block.clients-advantages {
        padding-bottom: 0;
    }

    .clients-advantages-bottom,
    .clients-advantages-top {
        background-size: cover;

        .clients-advantage-single:nth-child(n) {
            width: 100%;
            height: auto;
            padding: 25px 0;
        }
    }

    // #survey types list
    .survey-single-info {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        -ms-align-items: center;
        align-items: center;

        padding: 0;
    }

    .survey-single-title {
        margin-bottom: 5px;
        text-align: center;
        font-size: 24px;
    }

    .survey-single-text {
        height: auto;
        background: none;

        p {
            margin: 10px 0;
        }
    }

    .survey-single-button {
        transform: none;
    }

    // #cadastral director block
    .cadastral-director,
    .cadastral-director-info {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .cadastral-director {
        padding-bottom: 30px;
    }

    .cadastral-director-info {
        padding-left: 0;
    }

    .cadastral-director-cite {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .cadastral-director-post {

        strong {
            line-height: normal;
        }
    }

    // #intro land scheme block
    .intro-land-scheme {

        .form-fields-slider {
            width: 100%;
        }
    }

    .intro-topography-title,
    .intro-land-scheme-title {
        margin-top: 30px;
        font-size: 20px;
    }

    // #intro topography block
    .intro-topography-title {

        strong {
            font-size: 22px;
        }
    }

    // #typography types list
    .typography-types-list {

        .service-single {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .service-single-text {
            height: auto;
            background: none;
        }

        .service-single-order {
            transform: none;
        }
    }

    // #erecommendations block
    .recommendation-single {
        width: 100%;

        p {
            padding-right: 0;
            font-size: 22px;
            line-height: normal;
        }
    }

    // #director speech block
    .director-speech-text {
        font-size: 20px;
        line-height: normal;
    }

    .intro-borders-takeaway {

        .intro-description-left {
            margin-top: 25px;
        }
    }

    // #documents list
    .documents-list.without-slider {

        .document-single {
            margin-right: 0;
        }
    }

    // #borders takeaway call
    .borders-takeaway-call {

        .block-title {

            strong {
                margin-bottom: 10px;
            }
        }
    }

    .documents-list-button {
        margin-top: 35px;
    }

    .borders-takeaway-call-text {
        margin: 20px 0;
        font-size: 22px;
    }

    .need-answer {

        .container:before {
            content: none;
        }

        .button-white {
            width: 95%;
        }
    }

    // #footer
    footer {
        padding: 10px 0;

        .container {
            height: auto;

            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
        }
    }

    .footer-logo,
    .footer-contact {
        order: 1;
    }

    .marketing-time-link {
        position: static;
        transform: none;
        order: 3;
    }

    .footer-contact {
        margin: 20px 0;
        padding-left: 0;
        text-align: center;
        background: none;
    }

    .footer-contact-phone {
        margin-bottom: 0;
        font-size: 23px;
    }

    .footer-contact-desc {
        padding-right: 0;
    }
}
