@font-face {
    font-family: 'Intro Inline';
    src: url('../fonts/Intro-Inline.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova Thin';
    src: url('../fonts/ProximaNova-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova Light';
    src: url('../fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova Regular';
    src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova SemiBold';
    src: url('../fonts/ProximaNova-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNova ExtraBold';
    src: url('../fonts/ProximaNova-Extrabold.otf') format('opentype');
}

@black: #07131c;
@blue: #001a31;
@red: #eb3349;
@orange: #f45c43;

@introinline: 'Intro Inline', 'Intro', sans-serif;
@proximanovathin: 'ProximaNova Thin', sans-serif;
@proximanovalight: 'ProximaNova Light', sans-serif;
@proximanovaregular: 'ProximaNova Regular', sans-serif;
@proximanovasemibold: 'ProximaNova SemiBold', sans-serif;
@proximanovabold: 'ProximaNova Bold', sans-serif;
@proximanovaextrabold: 'ProximaNova ExtraBold', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
.block div:after,
footer div:after,
header div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
	text-decoration: none;
    outline: none;
}

.slick-slide {
    outline: none;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.container-small {
    width: 970px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: @proximanovathin;
  font-size: 16px;
  color: @blue;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;

  counter-reset: advantages;
}
