// #callback
.callback-button {
    position: relative;
    display: inline-block;
    width: 320px;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background: url('../img/bg-button.png') no-repeat center center;
    background-size: 100% 100%;

    &:before {
        content: url('../img/icon-phone-fill.png');
        position: absolute;
        left: 42px;
        top: 0;
        width: 42px;
        height: 42px;
        margin-left: -42px;
        transition: left 0.6s ease, transform 0.6s ease;
        -webkit-transition: left 0.6s ease, transform 0.6s ease;
        -ms-transition: left 0.6s ease, transform 0.6s ease;
        transform-origin: center center;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        will-change: transform, left;
    }
    &:hover:before {
        left: 100%;
        transform: rotateZ(360deg);
    }
}

// #simple button
.button {
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-image: -webkit-linear-gradient(@orange, @red);
    background-image: -o-linear-gradient(@orange, @red);
    background-image: linear-gradient(@orange, @red);
    border-radius: 21px;

    &:hover {
        background-image: -webkit-linear-gradient(@red, @orange);
        background-image: -o-linear-gradient(@red, @orange);
        background-image: linear-gradient(@red, @orange);
    }
}

// #white button
.button-white {
    width: 370px;
    height: 42px;
    font-size: 24px;
    line-height: 42px;
    font-weight: 300;
    border: 1px solid #fff;
    background: transparent;

    &:hover {
        color: @black;
        background: #fff;
    }
}

input,
button,
textarea {
    outline: none;
}

form {
    position: relative;

    input[type=text],
    input[type=tel],
    input[type=email] {
        display: inline-block;
        width: 415px;
        height: 42px;
        padding: 0 50px;
        font-size: 18px;
        line-height: 42px;
        color: #fff;
        background: url('../img/bg-input.png') no-repeat center center;
        border: none;
        vertical-align: top;

        .placeholder-color;
    }

    input[type=submit] {
        position: relative;
        display: inline-block;
        width: 220px;
        height: 42px;
        font-size: 18px;
        text-align: center;
        color: #fff;
        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
        border: none;
        border-radius: 20px;
        z-index: 1;

        &:hover {
            background-image: -webkit-linear-gradient(@red, @orange);
            background-image: -o-linear-gradient(@red, @orange);
            background-image: linear-gradient(@red, @orange);
        }
    }

    label {
        display: block;
        font-size: 18px;
        text-align: left;
    }

    // #styling Contact form 7
    .wpcf7-not-valid {

        .placeholder-color(@red) !important;
    }

    .wpcf7-not-valid-tip {
        display: none;
    }

    div.wpcf7-response-output {
        margin-bottom: 0;
        padding: 0;
        border: none;
    }

    img.ajax-loader {
        position: absolute;
        top: 5px;
        left: 10px;
    }
}


// #modal
.modal {
    position: relative;
    max-width: 570px;
    margin: 0 auto;
    padding: 40px 75px;
    text-align: center;
    color: #fff;
    background: #07131c;

    input[type=submit] {
        margin-left: -225px;
    }

    .form-fields-name {
        margin-bottom: 15px;

        input[type=text] {
            padding-left: 30px;
            background: url('../img/bg-input-name.png') no-repeat center bottom;
            background-size: 100% auto;
        }
    }

    .wpcf7-mail-sent-ok {
        display: none !important;
    }
}

.intro-callback-form,
.modal {

    input[type=tel] {
        padding-left: 30px;
    }
}

.modal-title {
    font-family: @proximanovasemibold;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;

    strong {
        display: block;
        font-family: @proximanovaextrabold;
        font-size: 34px;
        color: mix(@orange, @red);

        .gradient-text;
    }
}

.modal-subtitle {
    margin: 2px 0 30px;
    font-size: 24px;
    line-height: 31px;
}

.modal-close {
    position: absolute;
    top: -21px;
    right: 0;
    padding: 4px 42.5px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 3.92px;
    text-transform: uppercase;
    color: #fff;
    background: url('../img/bg-close.png') no-repeat center center;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

#thanks {

    .modal-subtitle {
        margin-bottom: 0;
    }
}

// #styling MagnificPopup
.mfp-bg {
    background: fade(@blue, 50%);
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-bg ~ header {
    padding-right: 17px;
}

// #adaptive
@media only screen and (max-width: 768px) {

    .modal {
        padding: 20px 5px;

        input[type=submit] {
            margin-left: 0;
        }
    }

    .modal-title {
        font-size: 24px;

        strong {
            font-size: 26px;
        }
    }

    .modal-subtitle {
        margin-top: 5px;
        font-size: 20px;
        line-height: normal;
    }

    form {

        input[type=tel],
        input[type=text] {
            display: block;
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            padding: 0 25px;
            line-height: 40px;
            background-size: 100% 100%;
        }
    }

    .mfp-bg ~ header {
        padding-right: 0;
    }
}
