// body {
//     opacity: 0;
//     transition: opacity 0.5s ease;
// }

// #header
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    text-align: right;
    z-index: 3;
}

header.fixed {
    position: fixed;
    background: @blue;
    z-index: 3;

    .header-logo {
        display: none;
    }

    .header-contact,
    .header-menu {
        margin-right: 0;
    }

    .header-menu {

        ul ul {
            padding-top: 100px;
        }
    }

    .container {
        .space-between;

        -ms-align-items: center;
        align-items: center;

        &:after {
            content: none;
        }
    }
}

.header-logo {
    position: absolute;
    top: -15px;
    left: 0;

    img {
        display: block;
    }
}

.header-menu,
.header-contact {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.header-menu {

    li {
        position: relative;
        display: inline-block;
        margin: 0 20px;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: -4px;
        }
    }

    a {
        position: relative;
        display: block;
        padding: 9px 10px;
        font-family: @proximanovaregular;
        font-size: 22px;
        line-height: 1;
        color: #fff;
        z-index: 2;
    }

    li.current-menu-item a,
    li.current_page_item a,
    li.current-menu-parent a,
    li:not(.menu-item-has-children) a:hover {

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 38px;
            height: 38px;
            transform: translate(-50%, -50%);
            background: url('../img/icon-hover.png') no-repeat center center;
            background-size: 100% 100%;
            z-index: -1;
        }
    }

    ul ul {
        display: none;
        position: absolute;
        bottom: 70px;
        left: 0;
        width: 170px;
        transform: translateY(100%) translateX(-23%);
        padding: 90px 0 0;
        text-align: center;
        background: fade(@blue, 98%);

        li {
            display: block;
            margin: 0;
            padding: 0 7px;

            &:last-child,
            &:first-child {
                margin: 0;
            }
            &:first-child {

                a {
                    border-top: none;
                }
            }
            &:hover {
                background-image: -webkit-linear-gradient(@orange, @red);
                background-image: -o-linear-gradient(@orange, @red);
                background-image: linear-gradient(@orange, @red);

                & + li a {
                    border-top-color: transparent;
                }
            }
        }

        a {
            padding: 15px 0;
            font-size: 16px;
            border-top: 1px solid @orange;

            &:after {
                content: none !important;
            }
        }
    }

    li:hover ul {
        display: block;
    }
}

.header-contact {
    margin-left: 70px;
    padding-left: 60px;
    color: #fff;
    background: url('../img/icon-phone.png') no-repeat left center;
}

.header-contact-phone {
    display: block;
    font-family: @proximanovasemibold;
    font-size: 30px;
    line-height: 1;
    color: #fff;
}

.header-contact-desc {
    font-size: 14px;
    padding-right: 20px;
}

.header-burger {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

// #block title
.block-title {
    font-family: @proximanovathin;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

    strong {
        display: block;
        font-family: @proximanovaextrabold;
        font-weight: 700;
    }
}

// #blocks stylization
.block.dark-block {
    color: #fff;
    background: @blue;
}

.block.pattern-block {
    background: url('../img/bg-white.jpg') repeat top right;
}

// #intro block
.intro {
    // min-height: 900px;
    height: 900px;
    padding-top: 215px;
    text-align: center;
    color: #fff;
    background: url('../img/bg-intro.jpg') no-repeat center top;
    background-size: cover;

    .container {
        height: 100%;
    }
}

.intro-title {
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;

    strong {
        display: block;
        font-family: @introinline;
        font-weight: 400;
        font-size: 96.5px;
        line-height: 86px;
        color: mix(@orange, @red);

        .gradient-text;
    }
}

.intro-subtitle {
    margin-top: 40px;
    font-weight: 700;
    font-family: @proximanovabold;
    font-size: 44px;
    text-transform: uppercase;

    span {
        display: block;
        font-weight: 300;
        font-size: 35.5px;
        font-family: @proximanovathin;
    }
}

.intro-button {
    margin-top: 40px;
}

// #index services slider
.index-services-slider {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);
    text-align: center;
    background: url('../img/icon-shake.png') no-repeat center bottom;
}

.index-services-slider,
.index-services-slider .slick-list,
.index-services-slider .slick-track {
    height: 235px;
}

.service-slide-title {
    white-space: nowrap;
    font-weight: 300;
    line-height: 24px;
}


.index-services-slider {

    .service-slide {
        transform: translateY(100px);
        //width: 125px !important;
        opacity: 0.5;
        transition: transform 0.4s ease,
                    opacity 0.4s ease;
        will-change: transform, width, height, fontSize;

        img {
            display: block;
            width: 42px;
            height: 42px;
            margin: 10px auto 0;
            transition: width 0.4s ease,
                        height 0.4s ease;
            cursor: pointer;
        }

        .service-slide-title {
            opacity: 0.3;
            font-size: 16px;
            line-height: 16px;
            transition: fontSize 0.4s ease,
        }
    }

    .slick-center + .slick-active,
    .slick-slide:not(.slick-active) + .slick-cloned.slick-active + .slick-active,
    .slick-slide:not(.slick-active) + .slick-slide.slick-active + .slick-active {
        transform: translateY(45px);
        transition-delay: 0.01s;
        opacity: 0.5;

        img {
            width: 55px;
            height: 55px;
        }

        .service-slide-title {
            opacity: 0.5;
            font-size: 17px;
            line-height: 17px;
        }
    }

    .slick-center.slick-center.slick-center.slick-center.slick-center {
        transform: translateY(0);
        transition-delay: 0s;
        //width: 200px !important;
        opacity: 1;

        img {
            width: 75px;
            height: 75px;
        }

        .service-slide-title {
            opacity: 1;
            font-size: 22px;
        }
    }
}

.change-services-slide {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    background: url('../img/icon-services-arrow-next.png') no-repeat center center;
    cursor: pointer;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &.prev-slide {
        transform: translateY(-50%) rotate(180deg);
        left: -40px;
    }

    &.next-slide {
        right: -40px;
    }
}

// #intro testimonials block
.intro-testimonials {
    padding: 55px 0 75px;
    background: #fff;

    .block-title {
        font-size: 30px;

        strong {
            margin-top: 5px;
            font-size: 36px;
        }
    }
}

.intro-testimonials-navigation {
    margin: 25px 0 0;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 10px 15px;
    }

    a {
        position: relative;
        display: block;
        padding: 6px 5px;
        font-size: 20px;
        line-height: 1;
        color: #000;
        z-index: 1;

        &:hover,
        &.active {

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 38px;
                height: 38px;
                transform: translate(-50%, -50%);
                background: url('../img/icon-hover.png') no-repeat center center;
                background-size: 100% 100%;
                z-index: -1;
                opacity: 0.5;
            }
        }
    }
}

.testimonial-single:not(:first-of-type) {
    margin-top: 65px;
}

.testimonial-single-info {
    display: inline-block;
    margin: 0;
    font-family: @proximanovabold;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
}

.testimonial-single-city {
    display: block;
    font-family: @proximanovathin;
    font-size: 20px;
    text-transform: none;
}

.testimonial-single-body {
    .display-flex;

    -ms-align-items: center;
    align-items: center;

    max-height: 190px;
    margin-top: -5px;
    background: url('../img/bg-testimonial.png') no-repeat center center;
    background-size: 100% 100%;
}

.testimonial-single-author,
.testimonial-single-text {
    display: inline-block;
    vertical-align: middle;
}

.testimonial-single-author {
    width: 190px;
    height: 190px;
}

.testimonial-single-text {
    width: ~"calc(100% - 190px)";
    width: ~"-webkit-calc(100% - 190px)";
    width: ~"-moz-calc(100% - 190px)";
    width: ~"-o-calc(100% - 190px)";
    width: ~"-ms-calc(100% - 190px)";
    font-size: 18px;
    line-height: 24px;

    br {
        display: none;
    }
}

.testimonial-single:nth-of-type(odd) {

    .testimonial-single-info {
        padding-left: 105px;
    }

    .testimonial-single-city {
        text-align: right;
    }

    .testimonial-single-text {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.testimonial-single:nth-of-type(even) {
    text-align: right;

    .testimonial-single-info {
        padding-right: 105px;
    }

    .testimonial-single-city {
        text-align: left;
    }

    .testimonial-single-text {
        order: 1;
        padding-left: 80px;
        padding-right: 80px;
        text-align: left;
    }

    .testimonial-single-author {
        order: 2;
    }
}

.testimonials-slider-navigation {
    .space-between;

    -ms-align-items: center;
    align-items: center;

    width: 159px;
    height: 26px;
    margin: 50px auto 0;
    background: url('../img/bg-slider-nav.png') no-repeat center center;
    background-size: 100% 100%;

    a {
        height: 100%;
        width: 49.5%;
        padding: 0 18px;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 2.4px;
        color: @blue;

        &:hover { color: #fff; }
        &:first-of-type:hover { background: url('../img/bg-slider-nav-left-hover.png') no-repeat left center; }
        &:last-of-type:hover { background: url('../img/bg-slider-nav-right-hover.png') no-repeat right center; }
    }
}

.testimonials-sliders-list {
    margin-top: 10px;

    .intro-testimonials-slider,
    .testimonials-slider-navigation,
    .testimonials-slider {
        display: none;
    }

    .active {
        display: block;
    }
    .active.testimonials-slider-navigation {
        .display-flex;
    }
}

// #about block
.about {
    padding: 70px 0 115px;
}

.about-geo {
    display: block;
    margin: 35px auto;
}

.about-advantages {
    text-align: center;
}

.about-advantage-single {
    position: relative;
    height: 240px;
    display: inline-block;
    width: ~"calc(100% / 6)";
    width: ~"-webkit-calc(100% / 6)";
    width: ~"-moz-calc(100% / 6)";
    width: ~"-o-calc(100% / 6)";
    width: ~"-ms-calc(100% / 6)";
    margin-right: -4px;
    vertical-align: top;

    strong {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
}

.about-advantage-engineers { background: url('../img/icon-f.png') no-repeat center top; }
.about-advantage-equipments { background: url('../img/icon-u.png') no-repeat center top; }
.about-advantage-clients { background: url('../img/icon-t.png') no-repeat center top; }
.about-advantage-expirience { background: url('../img/icon-second-u.png') no-repeat center top; }
.about-advantage-licenses { background: url('../img/icon-r.png') no-repeat center top; }
.about-advantage-prices { background: url('../img/icon-e.png') no-repeat center top; }

// #contacts block
.contacts {
    .space-between;
}

.contacts-info,
.contacts-map {
    width: 50%;
}

.contacts-info {
    position: relative;
    background: url('../img/bg-contacts.jpg') no-repeat center top;
    background-size: cover;
}

.contacts-info-inner {
    position: absolute;
    top: 50%;
    right: 11%;
    width: 460px;
    height: 100%;
    padding: 95px 0 85px;
    transform: translateY(-50%);

    &:before {
        content: url('../img/text-contacts.png');
        position: absolute;
        top: 95px;
        left: 0;
    }
}

.contacts-location,
.contacts-phone,
.contacts-email {
    display: inline-block;
    margin-left: 120px;
    margin-bottom: 50px;
    padding-left: 55px;
    font-family: @proximanovaregular;
    font-size: 24px;
    line-height: 1;
    color: #fff;
}

.contacts-location { background: url('../img/icon-map.png') no-repeat center left; font-family: @proximanovalight; }
.contacts-phone { background: url('../img/icon-phone-white.png') no-repeat center left; font-family: @proximanovasemibold; }
.contacts-email { background: url('../img/icon-email.png') no-repeat center left; }

.contacts-social {
    position: absolute;
    bottom: 155px;
    left: 120px;

    a {
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;

        &:last-child {
            margin-right: -4px;
        }
        &:hover {
            opacity: 0.85;
        }
    }

    img {
        display: block;
        width: 100%;
        border-radius: 3px;
    }
}

.contacts-button {
    position: absolute;
    left: 0;
    bottom: 85px;
}

.contacts-map {
    min-height: 540px;
}

.ymaps-layers-pane {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

// #intro exterior/executive survey block
.intro-exterior-survey,
.intro-executive-survey,
.intro-topography,
.intro-tech-plan,
.intro-land-scheme,
.intro-survey,
.intro-construction-support,
.intro-borders-takeaway {
    padding-top: 270px;

    .intro-title {
        font-family: @proximanovabold;
        font-size: 60px;
        color: @orange;

        .gradient-text;
    }

    .intro-subtitle {
        margin-top: 15px;

        span {
            font-size: 45.5px;
        }
    }
}

.intro-exterior-survey {
    background-image: url('../img/bg-exterior-survey.jpg');
}

.intro-description-left {
    position: absolute;
    bottom: 95px;
    left: 70px;
    margin: 0;
    font-family: @proximanovathin;
    font-size: 29px;
    text-transform: uppercase;

    span {
        display: block;
        font-family: @proximanovabold;

        &:first-child {
            font-size: 40px;
        }
        &:nth-child(2) {
            font-size: 34px;
        }
        &:last-child {
            font-size: 50.5px;
        }
    }
}

.intro-callback-form {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 570px;
    padding: 40px;
    text-align: center;
    background: @black;

    .form-fields-group {
        margin-top: 35px;
    }

    input[type=tel] {
        padding-right: 230px;
    }

    input[type=submit] {
        margin-left: -225px;
    }
}

.intro-callback-form-title {
    font-family: @proximanovasemibold;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;

    strong {
        display: block;
        font-family: @proximanovaextrabold;
        font-size: 34px;

        .gradient-text;
    }
}

.intro-callback-form-subtitle {
    margin: 5px 0 0;
    font-weight: 300;
    font-size: 24px;
}

.intro-callback-form-desc {
    margin: 10px 0 0;
    font-size: 18px;
}

// #exterior types block
.exterior-survey-types {
    padding: 90px 0 115px;
    background: #fff;
    text-align: center;

    .block-title {
        font-family: @proximanovabold;
        font-size: 44px;
    }
}

.services-list {
    .space-between;
}

.exterior-survey-types-list {
    margin-top: 75px;
}

// #service single in services list
.service-single {
    display: inline-block;
    width: 33.333333333%;
    padding: 0 15px;
    vertical-align: top;
}

.service-single-title {
    font-family: @proximanovabold;
    font-size: 26px;
    line-height: 1;
    text-transform: uppercase;
}

.service-single-text {
    height: 210px;
    margin-top: -5px;
    padding: 0 40px;
    background: url('../img/bg-service.png') no-repeat center center;
    background-size: 100% 100%;

    .display-flex;
    -ms-align-items: center;
    align-items: center;

    p {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
    }
}

.service-single-order {
    transform: translateY(-50%);
}

// #exterior portfolio block
.exterior-portfolio {
    padding: 90px 0 200px;
    text-align: center;

    .block-title {
        font-family: @proximanovasemibold;
        font-size: 44px;
        line-height: 1;
    }
}

.portfolio-slider {
    margin-top: 30px;

    .slider-arrow {
        position: absolute;
        bottom: -85px;
        left: 50%;
        padding-bottom: 8px;
        font-size: 18px;
        line-height: 1;
        cursor: pointer;
    }

    .prev-arrow {
        padding-left: 15px;
        transform: translateX(~"calc(-100% - 15px)");
        background: url('../img/icon-arrow-prev.png') no-repeat left bottom;
    }
    .next-arrow {
        padding-right: 15px;
        transform: translateX(15px);
        background: url('../img/icon-arrow-next.png') no-repeat right bottom;
    }
}

.portfolio-slide-gallery,
.portfolio-slide-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;

    button {
        display: none;
    }

    li {
        width: 12px;
        height: 12px;

        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
        border: 1px solid mix(@orange, @red);
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        vertical-align: middle;

        &.slick-active {
            width: 14px;
            height: 14px;
            background: transparent;
        }
    }
}

.portfolio-slide-gallery {
    width: 470px;
    position: relative;

    .slick-dots {
        position: absolute;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);

        li {
            display: block;
            margin: 0 auto 7px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.portfolio-slide-info {
    width: 555px;
    text-align: left;
}

.slide-gallery-single {
    height: 241px !important;
    overflow: hidden;

    img {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
        margin-right: -4px;

        &:nth-child(2) {
            margin-left: 30px;
        }
        &:first-child:last-child {
            max-width: 100%;
        }
    }
}

.portfolio-slide-info {
    padding-left: 30px;
}

.portfolio-slide-title,
.portfolio-slide-place {
    font-size: 22px;
    line-height: 24px;
}

.portfolio-slide-title {
    font-family: @proximanovaregular;
    font-weight: 400;
}

.portfolio-slide-place {
    margin: 10px 0 25px;
}

.portfolio-slide-text {

    p {
        font-size: 18px;
        line-height: 24px;
    }
}

// #single service testimonials
.service-testimonials {

    .block-title + .testimonials-slider {
        margin-top: 55px;
    }
}

.testimonials-slider,
.survey-types-slider {

    .slick-dots {
        position: static;
        width: 100%;
        margin-top: 70px;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 4.5px;
        }
    }
}

// #intro executive survey block
.intro-executive-survey {
    background-image: url('../img/bg-executive-survey.jpg');

    .intro-subtitle {
        font-family: @proximanovathin;
        font-weight: 300;
        font-size: 48px;
    }
}

// #common advantages block
.advantages {
    background: url('../img/bg-situations.png') no-repeat center center;
}

.advantages .container,
.advantage-single {
    .display-flex;
}

.advantages .container {
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: center;
   -moz-align-content: center;
   -ms-align-content: center;
   -o-align-content: center;
   align-content: center;
}

.advantage-single {
    position: relative;
    width: 50%;
    min-height: 320px;
    padding: 0;
    text-align: center;

    p {
        margin: auto;
        font-family: @proximanovalight;
        font-size: 24px;
        line-height: 1;
    }

    &:not(.without-counter):before {
        counter-increment: advantages;
        content: '0' counter(advantages);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: @proximanovabold;
        font-size: 190px;
        color: @blue;
        text-shadow: 0 0 15px @blue;
        opacity: 0.2;

        filter: blur(1px);
    	-webkit-filter: blur(1px);
    	-moz-filter: blur(1px);
    	-o-filter: blur(1px);
    	-ms-filter: blur(1px);
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
    }
    &:nth-child(1) {
        padding-right: 15px;
        padding-bottom: 15px;
    }
    &:nth-child(2) {
        padding-left: 15px;
        padding-bottom: 15px;
    }
    &:nth-child(3) {
        padding-top: 15px;
        padding-right: 15px;
    }
    &:nth-child(4) {
        padding-top: 15px;
        padding-left: 15px;
    }
    &:nth-child(1),
    &:nth-child(3) {

        strong {
            transform: translateX(-7.5px);
        }
    }
    &:nth-child(2),
    &:nth-child(4) {

        strong {
            transform: translateX(7.5px);
        }
    }
    &:hover {
        color: #fff;
        background: none;
    }
    &:hover .situation-single {
        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
    }
    &:hover:before {
        color: #fff;
        text-shadow: 0 0 18px #fff;
    }

    .situation-single {
        .display-flex;

        width: 100%;
        height: 100%;

        strong {
            position: absolute;
            width: 100%;
            top: 50px;
            left: 0;
            font-family: @proximanovasemibold;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

// #documents block
.documents {
    padding: 95px 0 130px;
    text-align: center;

    .block-title {
        font-family: @proximanovabold;
        font-size: 48px;
        line-height: 1;
    }
}

.documents-list {
    width: 100%;
    height: 526px;
    margin-top: 75px;
    overflow: auto;
    outline: none;

    ul {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    .document-single {

        &:last-child {
            margin-right: 0;
        }
    }
}
.documents-list.without-slider {
    height: auto;
    overflow: inherit;

    ul {
        white-space: inherit;
    }

    .document-single {
        margin-bottom: 27px;

        &:nth-child(3n) {
            margin-right: -4px;
        }
    }
}

.document-single {
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 370px;
    height: 435px;
    margin-right: 27px;
    border-radius: 130px;
    overflow: hidden;

    img {
        display: block;
        height: auto;
        width: auto;
    }

    &:hover {

        .document-single-view {
            display: block;
        }
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 185px;
        height: 435px;
        background: url('../img/bg-document.png') no-repeat left top;
    }
}

.document-single-view,
.document-single-title {
    position: absolute;
}

.document-single-title {
    left: 0;
    top: 0;
    width: 400px;
    height: 50px;
    transform: rotate(-90deg) translate(-50%, -300%);
    font-size: 25.6px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    z-index: 2;
}

.document-single-view {
    display: none;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(@orange, @red);
    background-image: -o-linear-gradient(@orange, @red);
    background-image: linear-gradient(@orange, @red);
    opacity: 0.85;
    z-index: 2;

    &:after {
        content: url('../img/icon-zoom.png');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-5px, -50%);
    }
}

.documents-list-button {
    width: auto;
    margin-top: 70px;
    padding: 0 30px;
    font-weight: 300;
}

// #styling jScrollPane
.jspHorizontalBar {
    background: none;

    .jspTrack {
        height: 1px;
        background: mix(@orange, @red);
    }

    .jspDrag {
        height: 16px;
        margin-top: -7px;
        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
        border-radius: 20px;
    }
}



// #intro topography block
.intro-topography {
    padding-top: 235px;
    background-image: url('../img/bg-topography.jpg');

    .intro-subtitle {
        margin-top: 0;
        font-size: 44px;
    }

    .intro-description-left {
        bottom: 55px;
    }
}

.intro-topography-title {
    margin-top: 35px;
    font-weight: 300;
    font-size: 24px;

    strong {
        display: block;
        margin-top: 25px;
        font-family: @proximanovasemibold;
        font-size: 30px;
        line-height: 1;
    }
}

.intro-description-left {
    font-size: 28px;

    strong {
        display: block;
        margin-top: 5px;
        font-family: @proximanovabold;
    }
}

// #typography types block
.typography-types-list {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    align-content: center;

    margin-top: 60px;

    .service-single {
        width: 50%;

        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 60px;
        }
    }

    .service-single-text {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;

        margin-top: 0;

        background-image: url('../img/bg-topography-service.png');
    }

    .service-single-title {
         margin-bottom: 5px;
    }

    .service-single-order {
        width: auto;
        padding: 0 30px;
    }
}

// #clients advantages block
.clients-advantages {
    padding: 100px 0 0;

    .block-title {
        margin-bottom: 55px;
        font-family: @proximanovabold;
        font-size: 44px;
        line-height: 1;
    }
}

.clients-advantages-top,
.clients-advantages-bottom {
    min-height: 249px;
    text-align: center;

    .clients-advantage-single:nth-child(2) {
        width: 430px;
    }
}

.clients-advantages-top {
    background: url('../img/bg-clients-advantages-top.jpg') no-repeat center top;
}

.clients-advantages-bottom {
    background: url('../img/bg-clients-advantages-bottom.jpg') no-repeat center top;
}

.clients-advantage-single {
    .display-inline-flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    width: 365px;
    height: 249px;
    padding: 0 35px;
    color: #fff;
    vertical-align: middle;

    p {
        margin: auto;
        font-size: 24px;
        line-height: 27px;
    }
}

// #recommendations block
.recommendations {
    padding: 110px 0 65px;
    counter-reset: recommend;

    .block-title {
        font-family: @proximanovabold;
        font-size: 44px;
        line-height: 1;
    }
}

.recommendations-list {
    .display-flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;

    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    margin-top: 80px;
    text-align: center;
}

.recommendation-single {
    .display-inline-flex;

    width: 33.333333333%;
    margin-bottom: 45px;
    text-align: left;

    p {
        margin: 0;
        font-size: 24px;
        line-height: 30px;
    }

    &:before {
        counter-increment: recommend;
        content: '0'counter(recommend);
        margin-right: 15px;
        margin-top: 7px;
        font-family: @proximanovabold;
        font-size: 48px;
        line-height: 1;
        color: mix(@orange, @red);

        .gradient-text;
    }
}

// #director speech block
.director-speech {
    padding: 130px 0 115px;
    background: #fff;
}

.director-speech-block {
    .space-between;

    position: relative;
    max-width: 1045px;
    min-height: 276px;
    margin: 0 auto;
    background: url('../img/bg-director.png') no-repeat center center;

    &:after {
        content: url('../img/director-signature.png');
        position: absolute;
        bottom: 0;
        right: 115px;
    }
}

.director-speech-photo {
    margin-left: -4px;
}

.director-speech-text {
    margin: 0;
    padding: 40px 110px 0 90px;
    font-size: 24px;
    line-height: 30px;
}

.director-speech-name {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    font-family: @proximanovaregular;

    span {
        display: block;
        font-family: @proximanovasemibold;
    }
}

// #intro tech plan block
.intro-tech-plan {
    padding-top: 240px;
    background-image: url('../img/bg-tech-plan.jpg');

    .intro-subtitle {
        margin-top: 0;
    }

    .intro-description-left {
        bottom: 85px;

        span {
            display: block;

            &:nth-child(1),
            &:nth-child(2) {
                font-family: @proximanovathin;
            }
            &:nth-child(1) {
                font-size: 28px;
                line-height: 31px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                font-size: 38px;
            }
            &:nth-child(2) {
                line-height: 41px;
            }
            &:nth-child(3),
            &:nth-child(4) {
                font-family: @proximanovaextrabold;
            }
            &:nth-child(3) {
                line-height: 39px;
            }
            &:nth-child(4) {
                position: relative;
                font-size: 78px;
                line-height: 68px;
                z-index: 2;
            }
        }
        &:after {
            position: absolute;
            bottom: -10px;
            right: -135px;
            content: url('../img/icon-survey-arrow.png');
            z-index: 1;
        }
    }
}

.intro-tech-plan-title {
    margin-top: 20px;
}

// #situations block
.situations {

    .block-title {
        margin: auto;
        font-family: @proximanovasemibold;
        font-size: 30px;
        line-height: 24px;

        span:nth-child(1) {
            font-family: @proximanovabold;
            font-size: 41px;
            line-height: 39px;
        }
        span:nth-child(2) {
            font-size: 25px;
            line-height: 29px;
        }
    }
}

// #teck plan questions block
.tech-plan-questions {
    padding: 75px 0 130px;

    .block-title {
        font-family: @proximanovaregular;
        font-size: 30px;
        line-height: 34px;
        text-transform: none;

        strong {
            font-size: 44px;
            line-height: 1;
            text-transform: uppercase;
        }
    }
}

.tech-plan-questions-info {
    margin-top: 55px;
}

.cadastral-director,
.cadastral-director-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.cadastral-director {
    position: relative;
    width: 335px;
    padding: 0 20px 55px;
    background: url('../img/bg-tech-plan-questions.png') no-repeat center bottom;
    background-size: 100% auto;

    img {
        width: 100%;
    }
}

.tech-plan-questions-button {
    position: absolute;
    width: 275px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.cadastral-director-info {
    .calc-width("100% - 335px");

    padding-top: 35px;
    padding-left: 65px;
    //font-family: 'Century Gothic';
    color: #252525;
}

.cadastral-director-achievements {
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 18px;

    li {
        margin-bottom: 5px;
    }

    strong {
        font-weight: 700;
    }
}

.cadastral-director-cite {
    font-size: 20px;
    font-style: italic;
    line-height: 22px;
    margin: 10px 0 5px;
    padding: 0;
}

.cadastral-director-post {

    strong {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
    }

    small {
        display: block;
        font-size: 18px;
        line-height: 1;
    }
}

// #intro land scheme block
.intro-land-scheme {
    padding-top: 240px;
    background-image: url('../img/bg-land-scheme.jpg');

    .intro-subtitle {
        margin-top: 0;
    }

    .intro-description-left {
        bottom: 110px;
        font-family: @proximanovabold;
        font-size: 60px;
        line-height: 59px;
        z-index: 2;

        span {
            position: relative;
            display: block;
            font-size: 48px;
            line-height: 1;
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -32px;
            right: -210px;
            width: 214px;
            height: 104px;
            background: url('../img/icon-survey-arrow.png') no-repeat top right;
            z-index: 1;
        }
    }

    .intro-callback-form {
        padding: 30px 40px;
    }

    .intro-callback-form-title {
        font-size: 28px;
    }

    .intro-callback-form-subtitle {
        margin-top: 0;
    }

    // #styling ionRangeSlider
    .irs.js-irs-0 {
        margin-top: -18px;
    }

    .irs {
        margin: 0 auto;
    }

    .irs-line {
        height: 16px;
        top: 30px;
        background: @black;
        border: 1px solid mix(@orange, @red);
    }

    .irs-bar,
    .irs-bar-edge {
        height: 14px;
        top: 31px;
        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
        border: none;
    }

    .irs-bar-edge {
        width: 17px;
    }

    .irs-slider {
        top: 21px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
        border: none;
        box-shadow: none;
    }

    .irs-single {
        top: 25px;
        font-size: 18px;
        background: none;
        z-index: 2;
    }

    .form-fields-slider {
        width: 415px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-fields-slider ~ .form-fields-group {
        margin-top: 15px;
    }
}

.intro-land-scheme-title {
    margin-top: 45px;
    font-family: @proximanovalight;
    font-size: 30px;
}

// #intro survey block
.intro-survey {
    padding-top: 220px;
    background-image: url('../img/bg-survey.jpg');

    .intro-title {
        font-size: 44px;
        color: #fff;
        background: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;

        strong {
            font-family: @proximanovabold;
            font-size: 82px;
            line-height: 70px;
        }
    }

    .intro-subtitle {

        &, span {
            font-size: 36px;
        }
    }

    .intro-description-left {
        bottom: 70px;
        font-family: @proximanovabold;
        font-size: 38px;
        line-height: 1;

        span {

            &:nth-child(1) {
                font-family: @proximanovathin;
                font-size: 36px;
                line-height: 41px;

            }
            &:nth-child(2) {
                font-family: @proximanovaextrabold;
                font-size: 74px;
                line-height: 69px;
            }
            &:nth-child(3) {
                position: relative;
                font-size: 43px;
                line-height: 54px;
                z-index: 2;
            }
        }

        &:after {
            content: url('../img/icon-survey-arrow.png');
            position: absolute;
            bottom: 10px;
            right: -150px;
            z-index: 1;
        }
    }
}

.intro-survey-title {
    font-size: 24px;
    line-height: 26px;
}

.survey-calc {
    padding: 75px 0 0;
    background: ;

    .block-title {
        margin-bottom: 45px;
        font-family: @proximanovabold;
        font-size: 44px;
        line-height: 1;
    }
}

.survey-calc-container {

    .container {
        padding: 50px 0;
        color: #fff;
        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
        border-radius: 0 190px 190px 0;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 32.0512820513%;
            height: 100%;
            transform: translateX(-100%);
            background-image: -webkit-linear-gradient(@orange, @red);
            background-image: -o-linear-gradient(@orange, @red);
            background-image: linear-gradient(@orange, @red);
        }
    }
}

.survey-calc-info,
.survey-calc-form {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.survey-calc-info {
    width: 700px;
    padding-left: 170px;
    padding-right: 30px;
    text-align: center;

    small {
        font-size: 18px;
    }
}

.survey-calc-info-title {
    display: block;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;

    span {
        display: block;
        font-family: @proximanovabold;
        font-size: 39px;
        line-height: 44px;
    }
}

.survey-calc-info-text {
    margin: 20px 0 45px;
    font-family: @proximanovaregular;
    font-size: 24px;
    line-height: 27px;
}

.survey-calc-form {
    width: 300px;
    color: #fff;
    text-align: center;

    input[type=text],
    input[type=tel] {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
        background: none;
        border: 1px solid #fff;
        border-radius: 20px;
    }

    .wpcf7-not-valid:not(:focus) {
        border-color: fade(#fff, 60%) !important;
        color: fade(#fff, 60%) !important;

        .placeholder-color(fade(#fff, 60%)) !important;
    }

    .wpcf7-not-valid:focus {
        .placeholder-color(#fff) !important;
     }

    input[type=submit] {
        display: block;
        width: 100%;
        font-family: @proximanovaregular;
        font-size: 20px;
        text-transform: uppercase;
        color: @black;
        background: #fff;
        border: 1px solid #fff;

        &:hover {
            color: #fff;
            background: transparent;
        }
    }

    // #styling ionRangeSlider
    .irs.js-irs-0 {
        margin-top: -18px;
    }

    .irs {
        margin: 0 auto;
    }

    .irs-line {
        height: 16px;
        top: 30px;
        background: #fff;
        border: 1px solid #fff;
    }

    .irs-bar,
    .irs-bar-edge {
        height: 14px;
        top: 31px;
        background: @blue;
        border: none;
    }

    .irs-bar-edge {
        left: 1px;
        width: 17px;
    }

    .irs-slider {
        top: 21px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: @blue;
        border: none;
        box-shadow: none;
    }

    .irs-single {
        top: 25px;
        font-size: 18px;
        background: none;
        z-index: 2;
    }

    .form-fields-slider {
        margin-bottom: 20px;
    }
}

// #intro construction support block
.intro-construction-support {
    background-image: url('../img/bg-construction-support.jpg');
}

// #intro borders takeaway block
.intro-borders-takeaway {
    background-image: url('../img/bg-borders-takeaway.jpg');

    .intro-title {
        font-size: 52px;
    }

    .intro-subtitle {
        margin-top: 7px;
        font-size: 40px;
    }

    .intro-description-left {
        bottom: 90px;
        padding-left: 40px;
        font-size: 55.5px;

        span {

            &:nth-child(1) {
                font-size: 55.5px;
            }
            &:nth-child(2) {
                font-family: @proximanovathin;
                font-size: 60px;
            }
        }

        &:after {
            right: -180px;
            width: 190px;
        }
    }
}

// #construction support documents
.construction-support-documents {

    .block-title {
        font-family: @proximanovasemibold;
        font-size: 44px;

        strong {
            font-family: @proximanovabold;
            font-size: 44px;
        }
    }
}

// #survey types block
.survey-types {
    padding: 110px 0;

    .block-title {
        font-family: @proximanovabold;
        font-size: 44px;
        line-height: 1;
    }
}

.survey-types-slider {
    margin-top: 70px;

    .slick-dots {
        margin-top: 0;
    }
}

.survey-types-slide {
    .space-between !important;

    -ms-align-items: flex-end;
    align-items: flex-end;

    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.survey-single {
    width: 50%;
    margin-bottom: 55px;
    text-align: center;
}

.survey-single-info {
    .space-between;

    -ms-align-items: flex-end;
    align-items: flex-end;

    padding: 0 70px 0 80px;

    &&:after {
        content: none;
    }
}

.survey-single-title {
    font-family: @proximanovabold;
    font-size: 26px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}

.survey-single-price {
    display: block;
    font-family: @proximanovaextrabold;
    font-size: 36px;
    line-height: 1;
    color: mix(@orange, @red);

    //.gradient-text;

    .old {
        position: relative;
        display: block;
        font-size: 30.3px;
        color: @blue;
        background: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;

        &:after {
            content: url('../img/icon-cross.png');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.survey-single-text {
    .display-flex;

    height: 192px;
    margin-top: -5px;
    background: url('../img/bg-survey.png') no-repeat center center;

    p {
        margin: auto;
        font-size: 18px;
        line-height: 24px;
    }
}

.survey-single-button {
    transform: translateY(-50%);
}

// #borders takeaway steps
.borders-takeaway-steps {
    padding: 125px 0 0;
    text-align: center;

    .block-title {
        margin-bottom: 75px;
        font-family: @proximanovasemibold;
        font-size: 44px;
        line-height: 1;
    }

    .situation-single {

        strong {
            font-size: 28px;
        }
    }
}

// #borders takeaway call
.borders-takeaway-call {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('../img/bg-call.jpg') no-repeat center top;
    background-size: cover;

    .block-title {
        font-size: 35px;
        line-height: 1;

        strong {
            font-family: @proximanovabold;
            font-size: 40px;
        }

        a {
            color: #fff;
        }
    }
}

.borders-takeaway-call-text {
    margin: 30px 0 40px;
    font-family: @proximanovaregular;
    font-weight: 400;
    font-size: 30px;
}

// #need answer block
.need-answer {
    padding: 110px 0;
    text-align: center;

    .container {
        padding: 50px 0;
        color: #fff;
        background-image: -webkit-linear-gradient(@orange, @red);
        background-image: -o-linear-gradient(@orange, @red);
        background-image: linear-gradient(@orange, @red);
        border-radius: 190px 0 0 190px;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 32.0512820513%;
            height: 100%;
            transform: translateX(100%);
            background-image: -webkit-linear-gradient(@orange, @red);
            background-image: -o-linear-gradient(@orange, @red);
            background-image: linear-gradient(@orange, @red);
        }
    }

    .block-title {
        font-size: 28px;
        line-height: 1;

        strong {
            font-family: @proximanovabold;
            font-size: 60px;
        }
    }

    .button {
        margin-top: 45px;
    }
}

// #footer
footer {
    padding: 5px 0;
    text-align: center;
    background: #fff;

    .container {
        .space-between;

        -ms-align-items: center;
        align-items: center;

        &:after {
            content: none;
        }
    }
}

.footer-logo {

    img,
    span {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;
    }

    span {
        margin-left: 25px;
        font-size: 14px;
        text-transform: uppercase;
        color: @blue;
    }

    strong {
        display: block;
        font-family: @introinline;
        font-weight: 400;
        font-size: 28.3px;
    }
}

.marketing-time-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    font-size: 13.8px;
    text-align: center;
    color: #858585;
    background: url('../img/logo-marketingtime.png') no-repeat center top;

    small {
        display: block;
        font-size: 12px;
    }
}

.footer-contact {
    padding-left: 55px;
    padding-bottom: 3px;
    text-align: right;
    background: url('../img/icon-handset.png') no-repeat center left;
}

.footer-contact-phone {
    display: block;
    margin-bottom: 5px;
    font-family: @proximanovasemibold;
    font-size: 27px;
    line-height: 1;
    color: @blue;
}

.footer-contact-desc {
    font-size: 14px;
    padding-right: 15px;
}
