// #cross-browser flexbox
.display-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}

.display-inline-flex {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    -webkit-display: inline-flex;
    -moz-display: inline-flex;
    -ms-display: inline-flex;
    -o-display: inline-flex;
    display: inline-flex;
}

// #flexbox justify-content
.space-between {
    .display-flex;

    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

// #cross-browser gradient text
.gradient-text {
    // for webkit only
    background: -webkit-linear-gradient(@orange, @red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //
}

// #styling placeholders
.placeholder-color(@color: #fff) {
    &::-webkit-input-placeholder { color: @color; }
    &::-moz-placeholder          { color: @color; }
    &:-moz-placeholder           { color: @color; }
    &:-ms-input-placeholder      { color: @color; }
}

// #wrapper for css calc
.calc-width(@expression) {
    width: ~"calc(@{expression})";
    width: ~"-webkit-calc(@{expression})";
    width: ~"-o-calc(@{expression})";
    width: ~"-moz-calc(@{expression})";
    width: ~"-ms-calc(@{expression})";
}
