@font-face {
  font-family: 'Intro Inline';
  src: url('../fonts/Intro-Inline.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova Thin';
  src: url('../fonts/ProximaNova-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova Light';
  src: url('../fonts/ProximaNova-Light.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova Regular';
  src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova SemiBold';
  src: url('../fonts/ProximaNova-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova Bold';
  src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova ExtraBold';
  src: url('../fonts/ProximaNova-Extrabold.otf') format('opentype');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
.block div:after,
footer div:after,
header div:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
}
.slick-slide {
  outline: none;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.container-small {
  width: 970px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'ProximaNova Thin', sans-serif;
  font-size: 16px;
  color: #001a31;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  counter-reset: advantages;
}
.display-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
.display-inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  -o-display: inline-flex;
  display: inline-flex;
}
.space-between {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.gradient-text {
  background: -webkit-linear-gradient(#f45c43, #eb3349);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.callback-button {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 42px;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background: url('../img/bg-button.png') no-repeat center center;
  background-size: 100% 100%;
}
.callback-button:before {
  content: url('../img/icon-phone-fill.png');
  position: absolute;
  left: 42px;
  top: 0;
  width: 42px;
  height: 42px;
  margin-left: -42px;
  transition: left 0.6s ease, transform 0.6s ease;
  -webkit-transition: left 0.6s ease, transform 0.6s ease;
  -ms-transition: left 0.6s ease, transform 0.6s ease;
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  will-change: transform, left;
}
.callback-button:hover:before {
  left: 100%;
  transform: rotateZ(360deg);
}
.button {
  display: inline-block;
  width: 200px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border-radius: 21px;
}
.button:hover {
  background-image: -webkit-linear-gradient(#eb3349, #f45c43);
  background-image: -o-linear-gradient(#eb3349, #f45c43);
  background-image: linear-gradient(#eb3349, #f45c43);
}
.button-white {
  width: 370px;
  height: 42px;
  font-size: 24px;
  line-height: 42px;
  font-weight: 300;
  border: 1px solid #fff;
  background: transparent;
}
.button-white:hover {
  color: #07131c;
  background: #fff;
}
input,
button,
textarea {
  outline: none;
}
form {
  position: relative;
}
form input[type=text],
form input[type=tel],
form input[type=email] {
  display: inline-block;
  width: 415px;
  height: 42px;
  padding: 0 50px;
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background: url('../img/bg-input.png') no-repeat center center;
  border: none;
  vertical-align: top;
}
form input[type=text]::-webkit-input-placeholder,
form input[type=tel]::-webkit-input-placeholder,
form input[type=email]::-webkit-input-placeholder {
  color: #ffffff;
}
form input[type=text]::-moz-placeholder,
form input[type=tel]::-moz-placeholder,
form input[type=email]::-moz-placeholder {
  color: #ffffff;
}
form input[type=text]:-moz-placeholder,
form input[type=tel]:-moz-placeholder,
form input[type=email]:-moz-placeholder {
  color: #ffffff;
}
form input[type=text]:-ms-input-placeholder,
form input[type=tel]:-ms-input-placeholder,
form input[type=email]:-ms-input-placeholder {
  color: #ffffff;
}
form input[type=submit] {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 42px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border: none;
  border-radius: 20px;
  z-index: 1;
}
form input[type=submit]:hover {
  background-image: -webkit-linear-gradient(#eb3349, #f45c43);
  background-image: -o-linear-gradient(#eb3349, #f45c43);
  background-image: linear-gradient(#eb3349, #f45c43);
}
form label {
  display: block;
  font-size: 18px;
  text-align: left;
}
form .wpcf7-not-valid::-webkit-input-placeholder {
  color: #eb3349 !important;
}
form .wpcf7-not-valid::-moz-placeholder {
  color: #eb3349 !important;
}
form .wpcf7-not-valid:-moz-placeholder {
  color: #eb3349 !important;
}
form .wpcf7-not-valid:-ms-input-placeholder {
  color: #eb3349 !important;
}
form .wpcf7-not-valid-tip {
  display: none;
}
form div.wpcf7-response-output {
  margin-bottom: 0;
  padding: 0;
  border: none;
}
form img.ajax-loader {
  position: absolute;
  top: 5px;
  left: 10px;
}
.modal {
  position: relative;
  max-width: 570px;
  margin: 0 auto;
  padding: 40px 75px;
  text-align: center;
  color: #fff;
  background: #07131c;
}
.modal input[type=submit] {
  margin-left: -225px;
}
.modal .form-fields-name {
  margin-bottom: 15px;
}
.modal .form-fields-name input[type=text] {
  padding-left: 30px;
  background: url('../img/bg-input-name.png') no-repeat center bottom;
  background-size: 100% auto;
}
.modal .wpcf7-mail-sent-ok {
  display: none !important;
}
.intro-callback-form input[type=tel],
.modal input[type=tel] {
  padding-left: 30px;
}
.modal-title {
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}
.modal-title strong {
  display: block;
  font-family: 'ProximaNova ExtraBold', sans-serif;
  font-size: 34px;
  color: #f04846;
  background: -webkit-linear-gradient(#f45c43, #eb3349);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-subtitle {
  margin: 2px 0 30px;
  font-size: 24px;
  line-height: 31px;
}
.modal-close {
  position: absolute;
  top: -21px;
  right: 0;
  padding: 4px 42.5px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 3.92px;
  text-transform: uppercase;
  color: #fff;
  background: url('../img/bg-close.png') no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}
.modal-close:hover {
  opacity: 0.9;
}
#thanks .modal-subtitle {
  margin-bottom: 0;
}
.mfp-bg {
  background: rgba(0, 26, 49, 0.5);
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-bg ~ header {
  padding-right: 17px;
}
@media only screen and (max-width: 768px) {
  .modal {
    padding: 20px 5px;
  }
  .modal input[type=submit] {
    margin-left: 0;
  }
  .modal-title {
    font-size: 24px;
  }
  .modal-title strong {
    font-size: 26px;
  }
  .modal-subtitle {
    margin-top: 5px;
    font-size: 20px;
    line-height: normal;
  }
  form input[type=tel],
  form input[type=text] {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 25px;
    line-height: 40px;
    background-size: 100% 100%;
  }
  .mfp-bg ~ header {
    padding-right: 0;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  text-align: right;
  z-index: 3;
}
header.fixed {
  position: fixed;
  background: #001a31;
  z-index: 3;
}
header.fixed .header-logo {
  display: none;
}
header.fixed .header-contact,
header.fixed .header-menu {
  margin-right: 0;
}
header.fixed .header-menu ul ul {
  padding-top: 100px;
}
header.fixed .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
header.fixed .container:after {
  content: none;
}
.header-logo {
  position: absolute;
  top: -15px;
  left: 0;
}
.header-logo img {
  display: block;
}
.header-menu,
.header-contact {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.header-menu li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}
.header-menu li:first-child {
  margin-left: 0;
}
.header-menu li:last-child {
  margin-right: -4px;
}
.header-menu a {
  position: relative;
  display: block;
  padding: 9px 10px;
  font-family: 'ProximaNova Regular', sans-serif;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  z-index: 2;
}
.header-menu li.current-menu-item a:after,
.header-menu li.current_page_item a:after,
.header-menu li.current-menu-parent a:after,
.header-menu li:not(.menu-item-has-children) a:hover:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  transform: translate(-50%, -50%);
  background: url('../img/icon-hover.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: -1;
}
.header-menu ul ul {
  display: none;
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 170px;
  transform: translateY(100%) translateX(-23%);
  padding: 90px 0 0;
  text-align: center;
  background: rgba(0, 26, 49, 0.98);
}
.header-menu ul ul li {
  display: block;
  margin: 0;
  padding: 0 7px;
}
.header-menu ul ul li:last-child,
.header-menu ul ul li:first-child {
  margin: 0;
}
.header-menu ul ul li:first-child a {
  border-top: none;
}
.header-menu ul ul li:hover {
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
}
.header-menu ul ul li:hover + li a {
  border-top-color: transparent;
}
.header-menu ul ul a {
  padding: 15px 0;
  font-size: 16px;
  border-top: 1px solid #f45c43;
}
.header-menu ul ul a:after {
  content: none !important;
}
.header-menu li:hover ul {
  display: block;
}
.header-contact {
  margin-left: 70px;
  padding-left: 60px;
  color: #fff;
  background: url('../img/icon-phone.png') no-repeat left center;
}
.header-contact-phone {
  display: block;
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}
.header-contact-desc {
  font-size: 14px;
  padding-right: 20px;
}
.header-burger {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.block-title {
  font-family: 'ProximaNova Thin', sans-serif;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
.block-title strong {
  display: block;
  font-family: 'ProximaNova ExtraBold', sans-serif;
  font-weight: 700;
}
.block.dark-block {
  color: #fff;
  background: #001a31;
}
.block.pattern-block {
  background: url('../img/bg-white.jpg') repeat top right;
}
.intro {
  height: 900px;
  padding-top: 215px;
  text-align: center;
  color: #fff;
  background: url('../img/bg-intro.jpg') no-repeat center top;
  background-size: cover;
}
.intro .container {
  height: 100%;
}
.intro-title {
  font-weight: 300;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
}
.intro-title strong {
  display: block;
  font-family: 'Intro Inline', 'Intro', sans-serif;
  font-weight: 400;
  font-size: 96.5px;
  line-height: 86px;
  color: #f04846;
  background: -webkit-linear-gradient(#f45c43, #eb3349);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-subtitle {
  margin-top: 40px;
  font-weight: 700;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
}
.intro-subtitle span {
  display: block;
  font-weight: 300;
  font-size: 35.5px;
  font-family: 'ProximaNova Thin', sans-serif;
}
.intro-button {
  margin-top: 40px;
}
.index-services-slider {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1000px;
  transform: translateX(-50%);
  text-align: center;
  background: url('../img/icon-shake.png') no-repeat center bottom;
}
.index-services-slider,
.index-services-slider .slick-list,
.index-services-slider .slick-track {
  height: 235px;
}
.service-slide-title {
  white-space: nowrap;
  font-weight: 300;
  line-height: 24px;
}
.index-services-slider .service-slide {
  transform: translateY(100px);
  opacity: 0.5;
  transition: transform 0.4s ease,
                    opacity 0.4s ease;
  will-change: transform, width, height, fontSize;
}
.index-services-slider .service-slide img {
  display: block;
  width: 42px;
  height: 42px;
  margin: 10px auto 0;
  transition: width 0.4s ease,
                        height 0.4s ease;
  cursor: pointer;
}
.index-services-slider .service-slide .service-slide-title {
  opacity: 0.3;
  font-size: 16px;
  line-height: 16px;
  transition: fontSize 0.4s ease;
}
.index-services-slider .slick-center + .slick-active,
.index-services-slider .slick-slide:not(.slick-active) + .slick-cloned.slick-active + .slick-active,
.index-services-slider .slick-slide:not(.slick-active) + .slick-slide.slick-active + .slick-active {
  transform: translateY(45px);
  transition-delay: 0.01s;
  opacity: 0.5;
}
.index-services-slider .slick-center + .slick-active img,
.index-services-slider .slick-slide:not(.slick-active) + .slick-cloned.slick-active + .slick-active img,
.index-services-slider .slick-slide:not(.slick-active) + .slick-slide.slick-active + .slick-active img {
  width: 55px;
  height: 55px;
}
.index-services-slider .slick-center + .slick-active .service-slide-title,
.index-services-slider .slick-slide:not(.slick-active) + .slick-cloned.slick-active + .slick-active .service-slide-title,
.index-services-slider .slick-slide:not(.slick-active) + .slick-slide.slick-active + .slick-active .service-slide-title {
  opacity: 0.5;
  font-size: 17px;
  line-height: 17px;
}
.index-services-slider .slick-center.slick-center.slick-center.slick-center.slick-center {
  transform: translateY(0);
  transition-delay: 0s;
  opacity: 1;
}
.index-services-slider .slick-center.slick-center.slick-center.slick-center.slick-center img {
  width: 75px;
  height: 75px;
}
.index-services-slider .slick-center.slick-center.slick-center.slick-center.slick-center .service-slide-title {
  opacity: 1;
  font-size: 22px;
}
.change-services-slide {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  background: url('../img/icon-services-arrow-next.png') no-repeat center center;
  opacity: 0.5;
  cursor: pointer;
}
.change-services-slide:hover {
  opacity: 1;
}
.change-services-slide.prev-slide {
  transform: translateY(-50%) rotate(180deg);
  left: -40px;
}
.change-services-slide.next-slide {
  right: -40px;
}
.intro-testimonials {
  padding: 55px 0 75px;
  background: #fff;
}
.intro-testimonials .block-title {
  font-size: 30px;
}
.intro-testimonials .block-title strong {
  margin-top: 5px;
  font-size: 36px;
}
.intro-testimonials-navigation {
  margin: 25px 0 0;
  text-align: center;
}
.intro-testimonials-navigation li {
  display: inline-block;
  margin: 0 10px 15px;
}
.intro-testimonials-navigation a {
  position: relative;
  display: block;
  padding: 6px 5px;
  font-size: 20px;
  line-height: 1;
  color: #000;
  z-index: 1;
}
.intro-testimonials-navigation a:hover:after,
.intro-testimonials-navigation a.active:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  transform: translate(-50%, -50%);
  background: url('../img/icon-hover.png') no-repeat center center;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.5;
}
.testimonial-single:not(:first-of-type) {
  margin-top: 65px;
}
.testimonial-single-info {
  display: inline-block;
  margin: 0;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}
.testimonial-single-city {
  display: block;
  font-family: 'ProximaNova Thin', sans-serif;
  font-size: 20px;
  text-transform: none;
}
.testimonial-single-body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  max-height: 190px;
  margin-top: -5px;
  background: url('../img/bg-testimonial.png') no-repeat center center;
  background-size: 100% 100%;
}
.testimonial-single-author,
.testimonial-single-text {
  display: inline-block;
  vertical-align: middle;
}
.testimonial-single-author {
  width: 190px;
  height: 190px;
}
.testimonial-single-text {
  width: calc(100% - 190px);
  width: -webkit-calc(100% - 190px);
  width: -moz-calc(100% - 190px);
  width: -o-calc(100% - 190px);
  width: -ms-calc(100% - 190px);
  font-size: 18px;
  line-height: 24px;
}
.testimonial-single-text br {
  display: none;
}
.testimonial-single:nth-of-type(odd) .testimonial-single-info {
  padding-left: 105px;
}
.testimonial-single:nth-of-type(odd) .testimonial-single-city {
  text-align: right;
}
.testimonial-single:nth-of-type(odd) .testimonial-single-text {
  padding-left: 80px;
  padding-right: 80px;
}
.testimonial-single:nth-of-type(even) {
  text-align: right;
}
.testimonial-single:nth-of-type(even) .testimonial-single-info {
  padding-right: 105px;
}
.testimonial-single:nth-of-type(even) .testimonial-single-city {
  text-align: left;
}
.testimonial-single:nth-of-type(even) .testimonial-single-text {
  order: 1;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
}
.testimonial-single:nth-of-type(even) .testimonial-single-author {
  order: 2;
}
.testimonials-slider-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  width: 159px;
  height: 26px;
  margin: 50px auto 0;
  background: url('../img/bg-slider-nav.png') no-repeat center center;
  background-size: 100% 100%;
}
.testimonials-slider-navigation a {
  height: 100%;
  width: 49.5%;
  padding: 0 18px;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #001a31;
}
.testimonials-slider-navigation a:hover {
  color: #fff;
}
.testimonials-slider-navigation a:first-of-type:hover {
  background: url('../img/bg-slider-nav-left-hover.png') no-repeat left center;
}
.testimonials-slider-navigation a:last-of-type:hover {
  background: url('../img/bg-slider-nav-right-hover.png') no-repeat right center;
}
.testimonials-sliders-list {
  margin-top: 10px;
}
.testimonials-sliders-list .intro-testimonials-slider,
.testimonials-sliders-list .testimonials-slider-navigation,
.testimonials-sliders-list .testimonials-slider {
  display: none;
}
.testimonials-sliders-list .active {
  display: block;
}
.testimonials-sliders-list .active.testimonials-slider-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
.about {
  padding: 70px 0 115px;
}
.about-geo {
  display: block;
  margin: 35px auto;
}
.about-advantages {
  text-align: center;
}
.about-advantage-single {
  position: relative;
  height: 240px;
  display: inline-block;
  width: calc(100% / 6);
  width: -webkit-calc(100% / 6);
  width: -moz-calc(100% / 6);
  width: -o-calc(100% / 6);
  width: -ms-calc(100% / 6);
  margin-right: -4px;
  vertical-align: top;
}
.about-advantage-single strong {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.about-advantage-engineers {
  background: url('../img/icon-f.png') no-repeat center top;
}
.about-advantage-equipments {
  background: url('../img/icon-u.png') no-repeat center top;
}
.about-advantage-clients {
  background: url('../img/icon-t.png') no-repeat center top;
}
.about-advantage-expirience {
  background: url('../img/icon-second-u.png') no-repeat center top;
}
.about-advantage-licenses {
  background: url('../img/icon-r.png') no-repeat center top;
}
.about-advantage-prices {
  background: url('../img/icon-e.png') no-repeat center top;
}
.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.contacts-info,
.contacts-map {
  width: 50%;
}
.contacts-info {
  position: relative;
  background: url('../img/bg-contacts.jpg') no-repeat center top;
  background-size: cover;
}
.contacts-info-inner {
  position: absolute;
  top: 50%;
  right: 11%;
  width: 460px;
  height: 100%;
  padding: 95px 0 85px;
  transform: translateY(-50%);
}
.contacts-info-inner:before {
  content: url('../img/text-contacts.png');
  position: absolute;
  top: 95px;
  left: 0;
}
.contacts-location,
.contacts-phone,
.contacts-email {
  display: inline-block;
  margin-left: 120px;
  margin-bottom: 50px;
  padding-left: 55px;
  font-family: 'ProximaNova Regular', sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #fff;
}
.contacts-location {
  background: url('../img/icon-map.png') no-repeat center left;
  font-family: 'ProximaNova Light', sans-serif;
}
.contacts-phone {
  background: url('../img/icon-phone-white.png') no-repeat center left;
  font-family: 'ProximaNova SemiBold', sans-serif;
}
.contacts-email {
  background: url('../img/icon-email.png') no-repeat center left;
}
.contacts-social {
  position: absolute;
  bottom: 155px;
  left: 120px;
}
.contacts-social a {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
.contacts-social a:last-child {
  margin-right: -4px;
}
.contacts-social a:hover {
  opacity: 0.85;
}
.contacts-social img {
  display: block;
  width: 100%;
  border-radius: 3px;
}
.contacts-button {
  position: absolute;
  left: 0;
  bottom: 85px;
}
.contacts-map {
  min-height: 540px;
}
.ymaps-layers-pane {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: gray;
  -webkit-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);
}
.intro-exterior-survey,
.intro-executive-survey,
.intro-topography,
.intro-tech-plan,
.intro-land-scheme,
.intro-survey,
.intro-construction-support,
.intro-borders-takeaway {
  padding-top: 270px;
}
.intro-exterior-survey .intro-title,
.intro-executive-survey .intro-title,
.intro-topography .intro-title,
.intro-tech-plan .intro-title,
.intro-land-scheme .intro-title,
.intro-survey .intro-title,
.intro-construction-support .intro-title,
.intro-borders-takeaway .intro-title {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 60px;
  color: #f45c43;
  background: -webkit-linear-gradient(#f45c43, #eb3349);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-exterior-survey .intro-subtitle,
.intro-executive-survey .intro-subtitle,
.intro-topography .intro-subtitle,
.intro-tech-plan .intro-subtitle,
.intro-land-scheme .intro-subtitle,
.intro-survey .intro-subtitle,
.intro-construction-support .intro-subtitle,
.intro-borders-takeaway .intro-subtitle {
  margin-top: 15px;
}
.intro-exterior-survey .intro-subtitle span,
.intro-executive-survey .intro-subtitle span,
.intro-topography .intro-subtitle span,
.intro-tech-plan .intro-subtitle span,
.intro-land-scheme .intro-subtitle span,
.intro-survey .intro-subtitle span,
.intro-construction-support .intro-subtitle span,
.intro-borders-takeaway .intro-subtitle span {
  font-size: 45.5px;
}
.intro-exterior-survey {
  background-image: url('../img/bg-exterior-survey.jpg');
}
.intro-description-left {
  position: absolute;
  bottom: 95px;
  left: 70px;
  margin: 0;
  font-family: 'ProximaNova Thin', sans-serif;
  font-size: 29px;
  text-transform: uppercase;
}
.intro-description-left span {
  display: block;
  font-family: 'ProximaNova Bold', sans-serif;
}
.intro-description-left span:first-child {
  font-size: 40px;
}
.intro-description-left span:nth-child(2) {
  font-size: 34px;
}
.intro-description-left span:last-child {
  font-size: 50.5px;
}
.intro-callback-form {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 570px;
  padding: 40px;
  text-align: center;
  background: #07131c;
}
.intro-callback-form .form-fields-group {
  margin-top: 35px;
}
.intro-callback-form input[type=tel] {
  padding-right: 230px;
}
.intro-callback-form input[type=submit] {
  margin-left: -225px;
}
.intro-callback-form-title {
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
}
.intro-callback-form-title strong {
  display: block;
  font-family: 'ProximaNova ExtraBold', sans-serif;
  font-size: 34px;
  background: -webkit-linear-gradient(#f45c43, #eb3349);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-callback-form-subtitle {
  margin: 5px 0 0;
  font-weight: 300;
  font-size: 24px;
}
.intro-callback-form-desc {
  margin: 10px 0 0;
  font-size: 18px;
}
.exterior-survey-types {
  padding: 90px 0 115px;
  background: #fff;
  text-align: center;
}
.exterior-survey-types .block-title {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 44px;
}
.services-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.exterior-survey-types-list {
  margin-top: 75px;
}
.service-single {
  display: inline-block;
  width: 33.333333333%;
  padding: 0 15px;
  vertical-align: top;
}
.service-single-title {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 26px;
  line-height: 1;
  text-transform: uppercase;
}
.service-single-text {
  height: 210px;
  margin-top: -5px;
  padding: 0 40px;
  background: url('../img/bg-service.png') no-repeat center center;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.service-single-text p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}
.service-single-order {
  transform: translateY(-50%);
}
.exterior-portfolio {
  padding: 90px 0 200px;
  text-align: center;
}
.exterior-portfolio .block-title {
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 44px;
  line-height: 1;
}
.portfolio-slider {
  margin-top: 30px;
}
.portfolio-slider .slider-arrow {
  position: absolute;
  bottom: -85px;
  left: 50%;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}
.portfolio-slider .prev-arrow {
  padding-left: 15px;
  transform: translateX(calc(-100% - 15px));
  background: url('../img/icon-arrow-prev.png') no-repeat left bottom;
}
.portfolio-slider .next-arrow {
  padding-right: 15px;
  transform: translateX(15px);
  background: url('../img/icon-arrow-next.png') no-repeat right bottom;
}
.portfolio-slide-gallery,
.portfolio-slide-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  width: 12px;
  height: 12px;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border: 1px solid #f04846;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}
.slick-dots li.slick-active {
  width: 14px;
  height: 14px;
  background: transparent;
}
.portfolio-slide-gallery {
  width: 470px;
  position: relative;
}
.portfolio-slide-gallery .slick-dots {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-slide-gallery .slick-dots li {
  display: block;
  margin: 0 auto 7px;
}
.portfolio-slide-gallery .slick-dots li:last-child {
  margin-bottom: 0;
}
.portfolio-slide-info {
  width: 555px;
  text-align: left;
}
.slide-gallery-single {
  height: 241px !important;
  overflow: hidden;
}
.slide-gallery-single img {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  margin-right: -4px;
}
.slide-gallery-single img:nth-child(2) {
  margin-left: 30px;
}
.slide-gallery-single img:first-child:last-child {
  max-width: 100%;
}
.portfolio-slide-info {
  padding-left: 30px;
}
.portfolio-slide-title,
.portfolio-slide-place {
  font-size: 22px;
  line-height: 24px;
}
.portfolio-slide-title {
  font-family: 'ProximaNova Regular', sans-serif;
  font-weight: 400;
}
.portfolio-slide-place {
  margin: 10px 0 25px;
}
.portfolio-slide-text p {
  font-size: 18px;
  line-height: 24px;
}
.service-testimonials .block-title + .testimonials-slider {
  margin-top: 55px;
}
.testimonials-slider .slick-dots,
.survey-types-slider .slick-dots {
  position: static;
  width: 100%;
  margin-top: 70px;
  text-align: center;
}
.testimonials-slider .slick-dots li,
.survey-types-slider .slick-dots li {
  display: inline-block;
  margin: 0 4.5px;
}
.intro-executive-survey {
  background-image: url('../img/bg-executive-survey.jpg');
}
.intro-executive-survey .intro-subtitle {
  font-family: 'ProximaNova Thin', sans-serif;
  font-weight: 300;
  font-size: 48px;
}
.advantages {
  background: url('../img/bg-situations.png') no-repeat center center;
}
.advantages .container,
.advantage-single {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
.advantages .container {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -o-align-content: center;
  align-content: center;
}
.advantage-single {
  position: relative;
  width: 50%;
  min-height: 320px;
  padding: 0;
  text-align: center;
}
.advantage-single p {
  margin: auto;
  font-family: 'ProximaNova Light', sans-serif;
  font-size: 24px;
  line-height: 1;
}
.advantage-single:not(.without-counter):before {
  counter-increment: advantages;
  content: '0' counter(advantages);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 190px;
  color: #001a31;
  text-shadow: 0 0 15px #001a31;
  opacity: 0.2;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
.advantage-single:nth-child(1) {
  padding-right: 15px;
  padding-bottom: 15px;
}
.advantage-single:nth-child(2) {
  padding-left: 15px;
  padding-bottom: 15px;
}
.advantage-single:nth-child(3) {
  padding-top: 15px;
  padding-right: 15px;
}
.advantage-single:nth-child(4) {
  padding-top: 15px;
  padding-left: 15px;
}
.advantage-single:nth-child(1) strong,
.advantage-single:nth-child(3) strong {
  transform: translateX(-7.5px);
}
.advantage-single:nth-child(2) strong,
.advantage-single:nth-child(4) strong {
  transform: translateX(7.5px);
}
.advantage-single:hover {
  color: #fff;
  background: none;
}
.advantage-single:hover .situation-single {
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
}
.advantage-single:hover:before {
  color: #fff;
  text-shadow: 0 0 18px #fff;
}
.advantage-single .situation-single {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  width: 100%;
  height: 100%;
}
.advantage-single .situation-single strong {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.documents {
  padding: 95px 0 130px;
  text-align: center;
}
.documents .block-title {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 48px;
  line-height: 1;
}
.documents-list {
  width: 100%;
  height: 526px;
  margin-top: 75px;
  overflow: auto;
  outline: none;
}
.documents-list ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.documents-list .document-single:last-child {
  margin-right: 0;
}
.documents-list.without-slider {
  height: auto;
  overflow: inherit;
}
.documents-list.without-slider ul {
  white-space: inherit;
}
.documents-list.without-slider .document-single {
  margin-bottom: 27px;
}
.documents-list.without-slider .document-single:nth-child(3n) {
  margin-right: -4px;
}
.document-single {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 370px;
  height: 435px;
  margin-right: 27px;
  border-radius: 130px;
  overflow: hidden;
}
.document-single img {
  display: block;
  height: auto;
  width: auto;
}
.document-single:hover .document-single-view {
  display: block;
}
.document-single:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 185px;
  height: 435px;
  background: url('../img/bg-document.png') no-repeat left top;
}
.document-single-view,
.document-single-title {
  position: absolute;
}
.document-single-title {
  left: 0;
  top: 0;
  width: 400px;
  height: 50px;
  transform: rotate(-90deg) translate(-50%, -300%);
  font-size: 25.6px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  z-index: 2;
}
.document-single-view {
  display: none;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  opacity: 0.85;
  z-index: 2;
}
.document-single-view:after {
  content: url('../img/icon-zoom.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5px, -50%);
}
.documents-list-button {
  width: auto;
  margin-top: 70px;
  padding: 0 30px;
  font-weight: 300;
}
.jspHorizontalBar {
  background: none;
}
.jspHorizontalBar .jspTrack {
  height: 1px;
  background: #f04846;
}
.jspHorizontalBar .jspDrag {
  height: 16px;
  margin-top: -7px;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border-radius: 20px;
}
.intro-topography {
  padding-top: 235px;
  background-image: url('../img/bg-topography.jpg');
}
.intro-topography .intro-subtitle {
  margin-top: 0;
  font-size: 44px;
}
.intro-topography .intro-description-left {
  bottom: 55px;
}
.intro-topography-title {
  margin-top: 35px;
  font-weight: 300;
  font-size: 24px;
}
.intro-topography-title strong {
  display: block;
  margin-top: 25px;
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 30px;
  line-height: 1;
}
.intro-description-left {
  font-size: 28px;
}
.intro-description-left strong {
  display: block;
  margin-top: 5px;
  font-family: 'ProximaNova Bold', sans-serif;
}
.typography-types-list {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -o-align-content: center;
  align-content: center;
  margin-top: 60px;
}
.typography-types-list .service-single {
  width: 50%;
}
.typography-types-list .service-single:nth-child(1),
.typography-types-list .service-single:nth-child(2) {
  margin-bottom: 60px;
}
.typography-types-list .service-single-text {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin-top: 0;
  background-image: url('../img/bg-topography-service.png');
}
.typography-types-list .service-single-title {
  margin-bottom: 5px;
}
.typography-types-list .service-single-order {
  width: auto;
  padding: 0 30px;
}
.clients-advantages {
  padding: 100px 0 0;
}
.clients-advantages .block-title {
  margin-bottom: 55px;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 44px;
  line-height: 1;
}
.clients-advantages-top,
.clients-advantages-bottom {
  min-height: 249px;
  text-align: center;
}
.clients-advantages-top .clients-advantage-single:nth-child(2),
.clients-advantages-bottom .clients-advantage-single:nth-child(2) {
  width: 430px;
}
.clients-advantages-top {
  background: url('../img/bg-clients-advantages-top.jpg') no-repeat center top;
}
.clients-advantages-bottom {
  background: url('../img/bg-clients-advantages-bottom.jpg') no-repeat center top;
}
.clients-advantage-single {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  -o-display: inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  width: 365px;
  height: 249px;
  padding: 0 35px;
  color: #fff;
  vertical-align: middle;
}
.clients-advantage-single p {
  margin: auto;
  font-size: 24px;
  line-height: 27px;
}
.recommendations {
  padding: 110px 0 65px;
  counter-reset: recommend;
}
.recommendations .block-title {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 44px;
  line-height: 1;
}
.recommendations-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 80px;
  text-align: center;
}
.recommendation-single {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  -o-display: inline-flex;
  display: inline-flex;
  width: 33.333333333%;
  margin-bottom: 45px;
  text-align: left;
}
.recommendation-single p {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}
.recommendation-single:before {
  counter-increment: recommend;
  content: '0' counter(recommend);
  margin-right: 15px;
  margin-top: 7px;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 48px;
  line-height: 1;
  color: #f04846;
  background: -webkit-linear-gradient(#f45c43, #eb3349);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.director-speech {
  padding: 130px 0 115px;
  background: #fff;
}
.director-speech-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  max-width: 1045px;
  min-height: 276px;
  margin: 0 auto;
  background: url('../img/bg-director.png') no-repeat center center;
}
.director-speech-block:after {
  content: url('../img/director-signature.png');
  position: absolute;
  bottom: 0;
  right: 115px;
}
.director-speech-photo {
  margin-left: -4px;
}
.director-speech-text {
  margin: 0;
  padding: 40px 110px 0 90px;
  font-size: 24px;
  line-height: 30px;
}
.director-speech-name {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-family: 'ProximaNova Regular', sans-serif;
}
.director-speech-name span {
  display: block;
  font-family: 'ProximaNova SemiBold', sans-serif;
}
.intro-tech-plan {
  padding-top: 240px;
  background-image: url('../img/bg-tech-plan.jpg');
}
.intro-tech-plan .intro-subtitle {
  margin-top: 0;
}
.intro-tech-plan .intro-description-left {
  bottom: 85px;
}
.intro-tech-plan .intro-description-left span {
  display: block;
}
.intro-tech-plan .intro-description-left span:nth-child(1),
.intro-tech-plan .intro-description-left span:nth-child(2) {
  font-family: 'ProximaNova Thin', sans-serif;
}
.intro-tech-plan .intro-description-left span:nth-child(1) {
  font-size: 28px;
  line-height: 31px;
}
.intro-tech-plan .intro-description-left span:nth-child(2),
.intro-tech-plan .intro-description-left span:nth-child(3) {
  font-size: 38px;
}
.intro-tech-plan .intro-description-left span:nth-child(2) {
  line-height: 41px;
}
.intro-tech-plan .intro-description-left span:nth-child(3),
.intro-tech-plan .intro-description-left span:nth-child(4) {
  font-family: 'ProximaNova ExtraBold', sans-serif;
}
.intro-tech-plan .intro-description-left span:nth-child(3) {
  line-height: 39px;
}
.intro-tech-plan .intro-description-left span:nth-child(4) {
  position: relative;
  font-size: 78px;
  line-height: 68px;
  z-index: 2;
}
.intro-tech-plan .intro-description-left:after {
  position: absolute;
  bottom: -10px;
  right: -135px;
  content: url('../img/icon-survey-arrow.png');
  z-index: 1;
}
.intro-tech-plan-title {
  margin-top: 20px;
}
.situations .block-title {
  margin: auto;
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 30px;
  line-height: 24px;
}
.situations .block-title span:nth-child(1) {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 41px;
  line-height: 39px;
}
.situations .block-title span:nth-child(2) {
  font-size: 25px;
  line-height: 29px;
}
.tech-plan-questions {
  padding: 75px 0 130px;
}
.tech-plan-questions .block-title {
  font-family: 'ProximaNova Regular', sans-serif;
  font-size: 30px;
  line-height: 34px;
  text-transform: none;
}
.tech-plan-questions .block-title strong {
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
}
.tech-plan-questions-info {
  margin-top: 55px;
}
.cadastral-director,
.cadastral-director-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.cadastral-director {
  position: relative;
  width: 335px;
  padding: 0 20px 55px;
  background: url('../img/bg-tech-plan-questions.png') no-repeat center bottom;
  background-size: 100% auto;
}
.cadastral-director img {
  width: 100%;
}
.tech-plan-questions-button {
  position: absolute;
  width: 275px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.cadastral-director-info {
  width: calc(100% - 335px);
  width: -webkit-calc(100% - 335px);
  width: -o-calc(100% - 335px);
  width: -moz-calc(100% - 335px);
  width: -ms-calc(100% - 335px);
  padding-top: 35px;
  padding-left: 65px;
  color: #252525;
}
.cadastral-director-achievements {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 18px;
}
.cadastral-director-achievements li {
  margin-bottom: 5px;
}
.cadastral-director-achievements strong {
  font-weight: 700;
}
.cadastral-director-cite {
  font-size: 20px;
  font-style: italic;
  line-height: 22px;
  margin: 10px 0 5px;
  padding: 0;
}
.cadastral-director-post strong {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.cadastral-director-post small {
  display: block;
  font-size: 18px;
  line-height: 1;
}
.intro-land-scheme {
  padding-top: 240px;
  background-image: url('../img/bg-land-scheme.jpg');
}
.intro-land-scheme .intro-subtitle {
  margin-top: 0;
}
.intro-land-scheme .intro-description-left {
  bottom: 110px;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 60px;
  line-height: 59px;
  z-index: 2;
}
.intro-land-scheme .intro-description-left span {
  position: relative;
  display: block;
  font-size: 48px;
  line-height: 1;
  z-index: 2;
}
.intro-land-scheme .intro-description-left:after {
  content: '';
  position: absolute;
  bottom: -32px;
  right: -210px;
  width: 214px;
  height: 104px;
  background: url('../img/icon-survey-arrow.png') no-repeat top right;
  z-index: 1;
}
.intro-land-scheme .intro-callback-form {
  padding: 30px 40px;
}
.intro-land-scheme .intro-callback-form-title {
  font-size: 28px;
}
.intro-land-scheme .intro-callback-form-subtitle {
  margin-top: 0;
}
.intro-land-scheme .irs.js-irs-0 {
  margin-top: -18px;
}
.intro-land-scheme .irs {
  margin: 0 auto;
}
.intro-land-scheme .irs-line {
  height: 16px;
  top: 30px;
  background: #07131c;
  border: 1px solid #f04846;
}
.intro-land-scheme .irs-bar,
.intro-land-scheme .irs-bar-edge {
  height: 14px;
  top: 31px;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border: none;
}
.intro-land-scheme .irs-bar-edge {
  width: 17px;
}
.intro-land-scheme .irs-slider {
  top: 21px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border: none;
  box-shadow: none;
}
.intro-land-scheme .irs-single {
  top: 25px;
  font-size: 18px;
  background: none;
  z-index: 2;
}
.intro-land-scheme .form-fields-slider {
  width: 415px;
  margin-left: auto;
  margin-right: auto;
}
.intro-land-scheme .form-fields-slider ~ .form-fields-group {
  margin-top: 15px;
}
.intro-land-scheme-title {
  margin-top: 45px;
  font-family: 'ProximaNova Light', sans-serif;
  font-size: 30px;
}
.intro-survey {
  padding-top: 220px;
  background-image: url('../img/bg-survey.jpg');
}
.intro-survey .intro-title {
  font-size: 44px;
  color: #fff;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}
.intro-survey .intro-title strong {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 82px;
  line-height: 70px;
}
.intro-survey .intro-subtitle,
.intro-survey .intro-subtitle span {
  font-size: 36px;
}
.intro-survey .intro-description-left {
  bottom: 70px;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 38px;
  line-height: 1;
}
.intro-survey .intro-description-left span:nth-child(1) {
  font-family: 'ProximaNova Thin', sans-serif;
  font-size: 36px;
  line-height: 41px;
}
.intro-survey .intro-description-left span:nth-child(2) {
  font-family: 'ProximaNova ExtraBold', sans-serif;
  font-size: 74px;
  line-height: 69px;
}
.intro-survey .intro-description-left span:nth-child(3) {
  position: relative;
  font-size: 43px;
  line-height: 54px;
  z-index: 2;
}
.intro-survey .intro-description-left:after {
  content: url('../img/icon-survey-arrow.png');
  position: absolute;
  bottom: 10px;
  right: -150px;
  z-index: 1;
}
.intro-survey-title {
  font-size: 24px;
  line-height: 26px;
}
.survey-calc {
  padding: 75px 0 0;
  background: ;
}
.survey-calc .block-title {
  margin-bottom: 45px;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 44px;
  line-height: 1;
}
.survey-calc-container .container {
  padding: 50px 0;
  color: #fff;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border-radius: 0 190px 190px 0;
}
.survey-calc-container .container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 32.0512820513%;
  height: 100%;
  transform: translateX(-100%);
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
}
.survey-calc-info,
.survey-calc-form {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.survey-calc-info {
  width: 700px;
  padding-left: 170px;
  padding-right: 30px;
  text-align: center;
}
.survey-calc-info small {
  font-size: 18px;
}
.survey-calc-info-title {
  display: block;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
}
.survey-calc-info-title span {
  display: block;
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 39px;
  line-height: 44px;
}
.survey-calc-info-text {
  margin: 20px 0 45px;
  font-family: 'ProximaNova Regular', sans-serif;
  font-size: 24px;
  line-height: 27px;
}
.survey-calc-form {
  width: 300px;
  color: #fff;
  text-align: center;
}
.survey-calc-form input[type=text],
.survey-calc-form input[type=tel] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  background: none;
  border: 1px solid #fff;
  border-radius: 20px;
}
.survey-calc-form .wpcf7-not-valid:not(:focus) {
  border-color: rgba(255, 255, 255, 0.6) !important;
  color: rgba(255, 255, 255, 0.6) !important;
}
.survey-calc-form .wpcf7-not-valid:not(:focus)::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}
.survey-calc-form .wpcf7-not-valid:not(:focus)::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}
.survey-calc-form .wpcf7-not-valid:not(:focus):-moz-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}
.survey-calc-form .wpcf7-not-valid:not(:focus):-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}
.survey-calc-form .wpcf7-not-valid:focus::-webkit-input-placeholder {
  color: #ffffff !important;
}
.survey-calc-form .wpcf7-not-valid:focus::-moz-placeholder {
  color: #ffffff !important;
}
.survey-calc-form .wpcf7-not-valid:focus:-moz-placeholder {
  color: #ffffff !important;
}
.survey-calc-form .wpcf7-not-valid:focus:-ms-input-placeholder {
  color: #ffffff !important;
}
.survey-calc-form input[type=submit] {
  display: block;
  width: 100%;
  font-family: 'ProximaNova Regular', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #07131c;
  background: #fff;
  border: 1px solid #fff;
}
.survey-calc-form input[type=submit]:hover {
  color: #fff;
  background: transparent;
}
.survey-calc-form .irs.js-irs-0 {
  margin-top: -18px;
}
.survey-calc-form .irs {
  margin: 0 auto;
}
.survey-calc-form .irs-line {
  height: 16px;
  top: 30px;
  background: #fff;
  border: 1px solid #fff;
}
.survey-calc-form .irs-bar,
.survey-calc-form .irs-bar-edge {
  height: 14px;
  top: 31px;
  background: #001a31;
  border: none;
}
.survey-calc-form .irs-bar-edge {
  left: 1px;
  width: 17px;
}
.survey-calc-form .irs-slider {
  top: 21px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #001a31;
  border: none;
  box-shadow: none;
}
.survey-calc-form .irs-single {
  top: 25px;
  font-size: 18px;
  background: none;
  z-index: 2;
}
.survey-calc-form .form-fields-slider {
  margin-bottom: 20px;
}
.intro-construction-support {
  background-image: url('../img/bg-construction-support.jpg');
}
.intro-borders-takeaway {
  background-image: url('../img/bg-borders-takeaway.jpg');
}
.intro-borders-takeaway .intro-title {
  font-size: 52px;
}
.intro-borders-takeaway .intro-subtitle {
  margin-top: 7px;
  font-size: 40px;
}
.intro-borders-takeaway .intro-description-left {
  bottom: 90px;
  padding-left: 40px;
  font-size: 55.5px;
}
.intro-borders-takeaway .intro-description-left span:nth-child(1) {
  font-size: 55.5px;
}
.intro-borders-takeaway .intro-description-left span:nth-child(2) {
  font-family: 'ProximaNova Thin', sans-serif;
  font-size: 60px;
}
.intro-borders-takeaway .intro-description-left:after {
  right: -180px;
  width: 190px;
}
.construction-support-documents .block-title {
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 44px;
}
.construction-support-documents .block-title strong {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 44px;
}
.survey-types {
  padding: 110px 0;
}
.survey-types .block-title {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 44px;
  line-height: 1;
}
.survey-types-slider {
  margin-top: 70px;
}
.survey-types-slider .slick-dots {
  margin-top: 0;
}
.survey-types-slide {
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: -o-flex !important;
  -webkit-display: flex !important;
  -moz-display: flex !important;
  -ms-display: flex !important;
  -o-display: flex !important;
  display: flex !important;
  -webkit-justify-content: space-between !important;
  -moz-justify-content: space-between !important;
  -ms-justify-content: space-between !important;
  -o-justify-content: space-between !important;
  justify-content: space-between !important;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.survey-single {
  width: 50%;
  margin-bottom: 55px;
  text-align: center;
}
.survey-single-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-end;
  align-items: flex-end;
  padding: 0 70px 0 80px;
}
.survey-single-info.survey-single-info:after {
  content: none;
}
.survey-single-title {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 26px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
.survey-single-price {
  display: block;
  font-family: 'ProximaNova ExtraBold', sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #f04846;
}
.survey-single-price .old {
  position: relative;
  display: block;
  font-size: 30.3px;
  color: #001a31;
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}
.survey-single-price .old:after {
  content: url('../img/icon-cross.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.survey-single-text {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  height: 192px;
  margin-top: -5px;
  background: url('../img/bg-survey.png') no-repeat center center;
}
.survey-single-text p {
  margin: auto;
  font-size: 18px;
  line-height: 24px;
}
.survey-single-button {
  transform: translateY(-50%);
}
.borders-takeaway-steps {
  padding: 125px 0 0;
  text-align: center;
}
.borders-takeaway-steps .block-title {
  margin-bottom: 75px;
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 44px;
  line-height: 1;
}
.borders-takeaway-steps .situation-single strong {
  font-size: 28px;
}
.borders-takeaway-call {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url('../img/bg-call.jpg') no-repeat center top;
  background-size: cover;
}
.borders-takeaway-call .block-title {
  font-size: 35px;
  line-height: 1;
}
.borders-takeaway-call .block-title strong {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 40px;
}
.borders-takeaway-call .block-title a {
  color: #fff;
}
.borders-takeaway-call-text {
  margin: 30px 0 40px;
  font-family: 'ProximaNova Regular', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.need-answer {
  padding: 110px 0;
  text-align: center;
}
.need-answer .container {
  padding: 50px 0;
  color: #fff;
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
  border-radius: 190px 0 0 190px;
}
.need-answer .container:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 32.0512820513%;
  height: 100%;
  transform: translateX(100%);
  background-image: -webkit-linear-gradient(#f45c43, #eb3349);
  background-image: -o-linear-gradient(#f45c43, #eb3349);
  background-image: linear-gradient(#f45c43, #eb3349);
}
.need-answer .block-title {
  font-size: 28px;
  line-height: 1;
}
.need-answer .block-title strong {
  font-family: 'ProximaNova Bold', sans-serif;
  font-size: 60px;
}
.need-answer .button {
  margin-top: 45px;
}
footer {
  padding: 5px 0;
  text-align: center;
  background: #fff;
}
footer .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
footer .container:after {
  content: none;
}
.footer-logo img,
.footer-logo span {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.footer-logo span {
  margin-left: 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: #001a31;
}
.footer-logo strong {
  display: block;
  font-family: 'Intro Inline', 'Intro', sans-serif;
  font-weight: 400;
  font-size: 28.3px;
}
.marketing-time-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
  font-size: 13.8px;
  text-align: center;
  color: #858585;
  background: url('../img/logo-marketingtime.png') no-repeat center top;
}
.marketing-time-link small {
  display: block;
  font-size: 12px;
}
.footer-contact {
  padding-left: 55px;
  padding-bottom: 3px;
  text-align: right;
  background: url('../img/icon-handset.png') no-repeat center left;
}
.footer-contact-phone {
  display: block;
  margin-bottom: 5px;
  font-family: 'ProximaNova SemiBold', sans-serif;
  font-size: 27px;
  line-height: 1;
  color: #001a31;
}
.footer-contact-desc {
  font-size: 14px;
  padding-right: 15px;
}
/* Adaptive */
.smart-panel {
  position: fixed;
  width: 90vw;
  height: 100vh;
  transform: translateX(-100%);
  padding: 50px 25px;
  transition: transform 0.3s linear;
  will-change: transform;
  background: rgba(0, 26, 49, 0.98);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 4;
}
.smart-panel-close {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 10px;
  right: 15vw;
  width: 25px;
  height: 25px;
  background: url('../img/icon-cross.png') no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 5;
}
@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.block,
header,
footer {
  transition: opacity 0.3s linear;
  will-change: opacity;
}
body.panel-opened .block,
body.panel-opened header,
body.panel-opened footer {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}
body.panel-opened .block *,
body.panel-opened header *,
body.panel-opened footer * {
  pointer-events: none;
}
body.panel-opened .smart-panel {
  transform: translateX(0);
  transition: transform 0.3s linear;
}
body.panel-opened .smart-panel-close {
  pointer-events: auto;
  -webkit-animation: smooth 0.35s ease-in;
  -moz-animation: smooth 0.35s ease-in;
  -o-animation: smooth 0.35s ease-in;
  -ms-animation: smooth 0.35s ease-in;
  animation: smooth 0.35s ease-in;
  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
body.panel-opened .header-burger circle {
  fill: #f04846;
}
.smart-panel-menu a {
  display: block;
  padding: 5px 0 10px;
  font-family: 'ProximaNova Regular', sans-serif;
  font-size: 22px;
  color: #fff;
}
.smart-panel-menu li.current-menu-item a,
.smart-panel-menu li.current_page_item a {
  color: #f04846;
  background: -webkit-linear-gradient(#f45c43, #eb3349);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.smart-panel-menu ul ul {
  padding-left: 12px;
  padding-bottom: 5px;
}
.smart-panel-menu ul ul a {
  font-family: 'ProximaNova Light', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 0;
}
.smart-panel-menu ul ul a br {
  display: none;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .header-logo img {
    width: 112px;
  }
  .header-menu li {
    margin: 0 15px;
  }
  .header-contact {
    margin-left: 30px;
  }
  .about-advantage-single {
    width: calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -ms-calc(100% / 3);
  }
  .about-advantage-single:nth-child(1),
  .about-advantage-single:nth-child(2),
  .about-advantage-single:nth-child(3) {
    margin-bottom: 50px;
  }
  .contacts-info-inner {
    right: 0;
  }
  .intro-description-left {
    left: 0;
    bottom: 70px;
  }
  .intro-callback-form {
    max-width: 500px;
  }
  .service-single {
    padding: 0 5px;
  }
  .service-single-text {
    padding: 5px;
  }
  .portfolio-slide-gallery {
    width: 356px;
  }
  .slide-gallery-single img {
    max-width: 160px;
  }
  .portfolio-slide-info {
    width: 500px;
  }
  .intro-survey .intro-description-left:after {
    right: -120px;
  }
  .survey-calc-info {
    width: 550px;
    padding-left: 70px;
    padding-right: 50px;
  }
  .survey-calc-container .container:before {
    left: 1px;
  }
  .clients-advantage-single {
    width: 280px;
  }
  .clients-advantage-single br {
    display: none;
  }
  .clients-advantages-bottom .clients-advantage-single:nth-child(2),
  .clients-advantages-top .clients-advantage-single:nth-child(2) {
    width: 400px;
  }
  .survey-single {
    padding: 0 5px;
  }
  .survey-single-info {
    padding-right: 45px;
  }
  .survey-single-text {
    background-size: 100% 100%;
  }
  .intro-land-scheme,
  .intro-tech-plan {
    padding-top: 190px;
  }
  .intro-land-scheme .intro-description-left:after,
  .intro-tech-plan .intro-description-left:after {
    right: -85px;
  }
  .intro-land-scheme .intro-callback-form {
    max-width: 580px;
  }
  .situations .block-title.block-title {
    font-size: 27px;
    line-height: normal;
  }
  .situations .block-title.block-title span {
    display: inline;
    font-family: 'ProximaNova SemiBold', sans-serif;
    font-size: 27px;
    line-height: normal;
  }
  .director-speech-block {
    background-size: 100% auto;
  }
  .director-speech-text {
    padding: 40px 85px 0 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .container,
  .container-small {
    width: 750px;
  }
  p br,
  a br {
    display: none;
  }
  .header-logo img {
    width: 100%;
  }
  .header-menu {
    display: none;
  }
  .header-contact {
    margin-left: 0;
  }
  .header-burger {
    display: inline-block;
    margin-right: -4px;
    margin-left: 70px;
    vertical-align: middle;
  }
  .intro .intro-description-left:after {
    content: none;
  }
  .index-services-slider {
    position: static;
    width: 750px;
    margin: 50px auto 0;
    transform: none;
  }
  .index-services-slider .slick-active {
    transform: translateY(45px);
    transition-delay: 0.01s;
    opacity: 0.5;
  }
  .index-services-slider .slick-active img {
    width: 55px;
    height: 55px;
  }
  .index-services-slider .slick-active .service-slide-title {
    opacity: 0.5;
    font-size: 17px;
    line-height: 17px;
  }
  .change-services-slide {
    display: none !important;
  }
  .change-services-slide.prev-slide {
    left: 0;
  }
  .change-services-slide.next-slide {
    right: 0;
  }
  .testimonial-single-body {
    background-size: 100% auto;
  }
  .testimonial-single:nth-of-type(odd) .testimonial-single-text {
    padding: 0 50px 0 25px;
  }
  .testimonial-single:nth-of-type(even) .testimonial-single-text {
    padding: 0 25px 0 50px;
  }
  .contacts-info-inner:before {
    content: none;
  }
  .contacts-email,
  .contacts-location,
  .contacts-phone {
    margin-left: 100px;
  }
  .contacts-social,
  .contacts-button {
    left: 100px;
  }
  .intro {
    min-height: 900px;
    height: auto;
  }
  .intro-description-left,
  .intro-callback-form {
    position: static;
    display: block;
    margin: 25px 0 0;
  }
  .intro-callback-form {
    width: 100%;
    max-width: none;
  }
  .exterior-survey-types-list {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .service-single {
    width: 50%;
  }
  .portfolio-slide-info {
    margin-top: 20px;
    padding-left: 20px;
  }
  .survey-calc-info {
    width: 350px;
    padding-left: 0;
  }
  .clients-advantage-single {
    width: 170px;
  }
  .clients-advantage-single:first-child {
    padding: 0 90px 0 0;
  }
  .clients-advantage-single:last-child {
    padding: 0 0 0 90px;
  }
  .survey-single {
    width: 100%;
    padding: 0;
  }
  .intro-land-scheme .intro-callback-form {
    max-width: none;
  }
  .typography-types-list .service-single-order {
    font-size: 18px;
  }
  .typography-types-list .service-single-title {
    margin-bottom: 0;
  }
  .recommendation-single {
    width: 50%;
  }
  .recommendation-single p {
    padding-right: 20px;
  }
  .director-speech-block {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    background: none;
  }
  .director-speech-block:after {
    position: static;
  }
  .director-speech-photo {
    width: 276px;
  }
  .director-speech-text {
    padding-right: 0;
    text-align: center;
  }
  .intro-borders-takeaway .intro-description-left {
    margin-top: 40px;
    padding-left: 0;
  }
  footer .container {
    height: 80px;
  }
  .footer-logo img {
    display: none;
  }
  .footer-logo span {
    display: block;
    margin: 0;
  }
  .footer-contact {
    padding-left: 30px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container,
  .container-small {
    width: 100%;
    padding: 0 10px;
  }
  img {
    max-width: 100%;
  }
  header {
    padding: 15px 0;
  }
  header .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
  header .container:after {
    content: none;
  }
  .header-logo {
    display: none;
  }
  .header-contact,
  .header-burger {
    margin-right: -4px;
  }
  .header-contact {
    padding-left: 0;
    text-align: left;
    background: none;
  }
  .header-contact-phone {
    font-size: 23px;
  }
  .header-burger {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }
  .header-burger svg {
    width: 30px;
    height: 30px;
  }
  .block {
    padding: 50px 0;
  }
  .intro.intro {
    height: auto;
    min-height: 0;
    padding-top: 120px;
    background-size: cover;
  }
  .intro.intro .intro-title {
    font-size: 34px;
  }
  .intro.intro .intro-title strong {
    font-size: 42px;
    line-height: 1;
  }
  .intro.intro .intro-subtitle {
    margin-top: 20px;
    font-size: 24px;
  }
  .intro.intro .intro-subtitle span {
    margin-top: 5px;
    font-size: 22px;
  }
  .intro.intro .intro-description-left {
    font-size: 22px;
    line-height: normal;
  }
  .intro.intro .intro-description-left span {
    font-size: 22px;
    line-height: normal;
  }
  .intro.intro .intro-callback-form {
    padding: 20px 5px;
  }
  .intro.intro .intro-callback-form input[type=tel] {
    padding-right: 0;
  }
  .intro.intro .intro-callback-form input[type=submit] {
    margin-left: 0;
  }
  .intro.intro .intro-callback-form-title {
    font-size: 24px;
    line-height: 1;
  }
  .intro.intro .intro-callback-form-title strong {
    font-size: 26px;
  }
  .intro.intro .intro-callback-form-subtitle {
    font-size: 20px;
  }
  .intro.intro .intro-callback-form-desc {
    font-size: 16px;
  }
  .home .intro.intro {
    padding-bottom: 0;
  }
  .intro-executive-survey .intro-title.intro-title,
  .intro-topography .intro-title.intro-title {
    font-size: 30px;
  }
  .intro-construction-support .intro-title.intro-title {
    font-size: 32px;
  }
  .callback-button {
    width: 100%;
    font-size: 16px;
  }
  .index-services-slider {
    width: 300px;
    overflow: hidden;
  }
  .index-services-slider .slick-list {
    padding: 0 !important;
  }
  .index-services-slider .slick-slide {
    visibility: hidden;
  }
  .index-services-slider .slick-center + .slick-active,
  .index-services-slider .slick-slide:not(.slick-active) + .slick-cloned.slick-active + .slick-active,
  .index-services-slider .slick-slide:not(.slick-active) + .slick-slide.slick-active + .slick-active,
  .index-services-slider .slick-active {
    visibility: visible;
  }
  .index-services-slider .slick-center + .slick-active .service-slide-title,
  .index-services-slider .slick-slide:not(.slick-active) + .slick-cloned.slick-active + .slick-active .service-slide-title,
  .index-services-slider .slick-slide:not(.slick-active) + .slick-slide.slick-active + .slick-active .service-slide-title,
  .index-services-slider .slick-active .service-slide-title {
    font-size: 14px;
    line-height: normal;
  }
  .index-services-slider .slick-center.slick-center.slick-center.slick-center.slick-center .service-slide-title {
    font-size: 16px;
    line-height: normal;
  }
  .block-title.block-title {
    font-size: 24px;
  }
  .block-title.block-title br {
    display: none;
  }
  .block-title.block-title strong {
    font-size: 26px;
  }
  .intro-testimonials-navigation li {
    display: block;
    margin: 0 0 10px;
  }
  .testimonials-sliders-list {
    margin-top: 30px;
  }
  .testimonial-single.testimonial-single {
    text-align: center;
  }
  .testimonial-single.testimonial-single .testimonial-single-info,
  .testimonial-single.testimonial-single .testimonial-single-city {
    padding: 0;
    text-align: center;
  }
  .testimonial-single.testimonial-single .testimonial-single-info {
    font-size: 22px;
  }
  .testimonial-single.testimonial-single .testimonial-single-text {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
  }
  .testimonial-single:not(:first-of-type) {
    margin-top: 35px;
  }
  .testimonial-single-body {
    background: none;
    max-height: none;
  }
  .testimonial-single-body,
  .testimonial-single-info,
  .testimonial-single-text {
    display: block;
  }
  .testimonial-single-author {
    width: 150px;
    height: 150px;
    margin: 10px auto 0;
  }
  .testimonial-single-text {
    width: 100%;
  }
  .about-advantage-single {
    width: calc(100% / 2);
    width: -webkit-calc(100% / 2);
    width: -o-calc(100% / 2);
    width: -moz-calc(100% / 2);
    width: -ms-calc(100% / 2);
  }
  .block.contacts {
    padding: 0;
    display: block;
  }
  .contacts-info,
  .contacts-map {
    width: 100%;
  }
  .contacts-info-inner {
    position: static;
    width: 100%;
    padding: 25px 10px;
    transform: none;
  }
  .contacts-email,
  .contacts-location,
  .contacts-phone {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: normal;
  }
  .contacts-social {
    position: static;
    margin: 10px 0 30px;
  }
  .contacts-button {
    position: relative;
    left: 0;
    top: 0;
  }
  .contacts-map {
    min-height: 300px;
  }
  .exterior-survey-types-list {
    margin-top: 40px;
  }
  .service-single {
    width: 100%;
    padding: 0;
  }
  .service-single-title {
    font-size: 22px;
  }
  .portfolio-slider .slider-arrow {
    bottom: -30px;
  }
  .portfolio-slide-gallery,
  .portfolio-slide-info {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .portfolio-slide-gallery {
    padding-left: 20px;
  }
  .portfolio-slide-gallery .slick-dots {
    left: 0;
  }
  .portfolio-slide-info {
    padding-left: 0;
  }
  .slide-gallery-single img {
    max-width: 135px;
  }
  .slide-gallery-single img:nth-child(2) {
    margin-left: 5px;
  }
  .advantages {
    padding: 0;
    background: #fff;
  }
  .advantages .container {
    display: block;
    padding: 0;
  }
  .advantage-single.advantage-single {
    width: 100%;
    min-height: 0;
    padding: 0;
  }
  .advantage-single.advantage-single p {
    font-size: 22px;
    line-height: normal;
  }
  .advantage-single.advantage-single:after {
    content: none;
  }
  .advantage-single.advantage-single .situation-single {
    padding: 25px 10px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .advantage-single.advantage-single .situation-single strong {
    position: static;
    transform: none;
    font-size: 26px;
  }
  .documents-list:not(.without-slider) {
    height: 490px;
  }
  .document-single {
    width: 100%;
    height: 400px;
  }
  .document-single:after {
    height: 400px;
    background-size: 100% 100%;
  }
  .document-single-title {
    width: 350px;
    transform: rotate(-90deg) translate(-50%, -255%);
  }
  .survey-calc-container .container {
    border-radius: 0 100px 100px 0;
  }
  .survey-calc-container .container:before {
    content: none;
  }
  .survey-calc-form,
  .survey-calc-info {
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0 15px;
  }
  .survey-calc-info-text {
    margin-bottom: 20px;
  }
  .survey-calc-form {
    margin-top: 40px;
  }
  .block.clients-advantages {
    padding-bottom: 0;
  }
  .clients-advantages-bottom,
  .clients-advantages-top {
    background-size: cover;
  }
  .clients-advantages-bottom .clients-advantage-single:nth-child(n),
  .clients-advantages-top .clients-advantage-single:nth-child(n) {
    width: 100%;
    height: auto;
    padding: 25px 0;
  }
  .survey-single-info {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding: 0;
  }
  .survey-single-title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
  }
  .survey-single-text {
    height: auto;
    background: none;
  }
  .survey-single-text p {
    margin: 10px 0;
  }
  .survey-single-button {
    transform: none;
  }
  .cadastral-director,
  .cadastral-director-info {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .cadastral-director {
    padding-bottom: 30px;
  }
  .cadastral-director-info {
    padding-left: 0;
  }
  .cadastral-director-cite {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .cadastral-director-post strong {
    line-height: normal;
  }
  .intro-land-scheme .form-fields-slider {
    width: 100%;
  }
  .intro-topography-title,
  .intro-land-scheme-title {
    margin-top: 30px;
    font-size: 20px;
  }
  .intro-topography-title strong {
    font-size: 22px;
  }
  .typography-types-list .service-single {
    width: 100%;
  }
  .typography-types-list .service-single:not(:last-child) {
    margin-bottom: 30px;
  }
  .typography-types-list .service-single-text {
    height: auto;
    background: none;
  }
  .typography-types-list .service-single-order {
    transform: none;
  }
  .recommendation-single {
    width: 100%;
  }
  .recommendation-single p {
    padding-right: 0;
    font-size: 22px;
    line-height: normal;
  }
  .director-speech-text {
    font-size: 20px;
    line-height: normal;
  }
  .intro-borders-takeaway .intro-description-left {
    margin-top: 25px;
  }
  .documents-list.without-slider .document-single {
    margin-right: 0;
  }
  .borders-takeaway-call .block-title strong {
    margin-bottom: 10px;
  }
  .documents-list-button {
    margin-top: 35px;
  }
  .borders-takeaway-call-text {
    margin: 20px 0;
    font-size: 22px;
  }
  .need-answer .container:before {
    content: none;
  }
  .need-answer .button-white {
    width: 95%;
  }
  footer {
    padding: 10px 0;
  }
  footer .container {
    height: auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo,
  .footer-contact {
    order: 1;
  }
  .marketing-time-link {
    position: static;
    transform: none;
    order: 3;
  }
  .footer-contact {
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
    background: none;
  }
  .footer-contact-phone {
    margin-bottom: 0;
    font-size: 23px;
  }
  .footer-contact-desc {
    padding-right: 0;
  }
}
